# Data Integration and Data Reshaping of Victorian Housing Data


In this project, I will integrate numerous input datasets, all of which come in very different formats (html, json, xml, pdf, xlsx, txt, shapefiles), with the goal of creating 1 unified dataset. After that, I will study the effects of different normalization/transformation methods on given attributes and their effects when it comes to building a linear model.

The data schema of the final unified dataset is as follows:


## Table of Content
1. [Load and Parse files of different formats](#1)
2. [Data Integration](#2)
3. [Data Reshaping](#3)

In [2]:
#Load libraries
%matplotlib inline

#For dataframe manipulation
import pandas as pd
from pandas import DataFrame
import numpy as np

#For parsing data in xml and html format
from bs4 import BeautifulSoup

#For parsing data in json format, and converting json format data into dataframe
import json
from pandas.io.json import json_normalize

#For accessing directory
import os

#For extracting tables in pdf files
from tabula import read_pdf

#For reading shapefile
import shapefile

#For processing data in shapefiles
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

#To perform mathematical operation
from math import radians, cos, sin, asin, sqrt,floor,log,exp

#To convert datetime data into proper format
from datetime import datetime

#For plotting graph
from matplotlib import pyplot as plt

#For different 
from sklearn.preprocessing import MinMaxScaler,minmax_scale,MaxAbsScaler,StandardScaler,RobustScaler,Normalizer,QuantileTransformer,PowerTransformer

## 1. Load and Parse data files of different formats <a class="anchor" id="1"></a>

### Load `shoppingcenters` excel file

In [4]:
shopping_centers_excel=pd.ExcelFile('DataIntegration/shopingcenters.xlsx')
shopping_centers_excel

In [5]:
shopping_centers_excel.sheet_names
#Only 1 sheet called Sheet1

['Sheet1']

In [7]:
shopping_centers=shopping_centers_excel.parse('Sheet1')

#Keep only the relevant columns
shopping_centers=shopping_centers.iloc[:,1:4]
shopping_centers.head()

    sc_id        lat         lng
0  SC_001 -37.767915  145.041790
1  SC_002 -37.819375  145.171472
2  SC_003 -37.971131  145.089065
3  SC_004 -35.280406  149.132550
4  SC_005 -37.574572  144.920452

In [8]:
shopping_centers.dtypes
#Correct datatypes

sc_id     object
lat      float64
lng      float64
dtype: object

### Load `hospitals` html file

In [9]:
html_file=open('DataIntegration/hospitals.html',encoding='utf8')

#Use BeautifulSoup package to load and parse the html file
bsobj=BeautifulSoup(html_file)
bsobj

<html><body><table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>id</th>
<th>lat</th>
<th>lng</th>
<th>name</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>hospital_001</td>
<td>-37.990622</td>
<td>145.072836</td>
<td>Como Private Hospital</td>
</tr>
<tr>
<th>1</th>
<td>hospital_002</td>
<td>-37.855469</td>
<td>145.268183</td>
<td>Mountain District Private Hospital</td>
</tr>
<tr>
<th>2</th>
<td>hospital_003</td>
<td>-37.792230</td>
<td>144.889128</td>
<td>Western Hospital</td>
</tr>
<tr>
<th>3</th>
<td>hospital_004</td>
<td>-37.756042</td>
<td>145.061896</td>
<td>Mercy Hospital for Women</td>
</tr>
<tr>
<th>4</th>
<td>hospital_005</td>
<td>-37.760623</td>
<td>144.815624</td>
<td>Sunshine Hospital</td>
</tr>
<tr>
<th>5</th>
<td>hospital_006</td>
<td>-36.359274</td>
<td>145.410832</td>
<td>Shepparton Private Hospital</td>
</tr>
<tr>
<th>6</th>
<td>hospital_007</td>
<td>-37.774573</td>
<td>144.923973</td>
<td>Ascot Vale Road Specialist Rooms</td>
</tr>
<tr>
<th>7</th>
<td>hospital_008</td>
<td>-37.849467</td>
<td>145.226801</td>
<td>Knox Private Hospital</td>
</tr>
<tr>
<th>8</th>
<td>hospital_009</td>
<td>-37.869801</td>
<td>145.003096</td>
<td>Masada Private Hospital</td>
</tr>
<tr>
<th>9</th>
<td>hospital_010</td>
<td>-37.810454</td>
<td>145.194100</td>
<td>Mitcham Private Hospital</td>
</tr>
<tr>
<th>10</th>
<td>hospital_011</td>
<td>-37.754592</td>
<td>144.958277</td>
<td>John Fawkner Private Hospital</td>
</tr>
<tr>
<th>11</th>
<td>hospital_012</td>
<td>-37.854654</td>
<td>144.998759</td>
<td>The Avenue Private Hospital</td>
</tr>
<tr>
<th>12</th>
<td>hospital_013</td>
<td>-37.896305</td>
<td>145.013206</td>
<td>Calvary Health Care Bethlehem</td>
</tr>
<tr>
<th>13</th>
<td>hospital_014</td>
<td>-37.814309</td>
<td>145.118569</td>
<td>Box Hill Hospital</td>
</tr>
<tr>
<th>14</th>
<td>hospital_015</td>
<td>-36.138197</td>
<td>144.748819</td>
<td>Echuca Regional Health</td>
</tr>
<tr>
<th>15</th>
<td>hospital_016</td>
<td>-36.993135</td>
<td>144.064656</td>
<td>Maldon Hospital</td>
</tr>
<tr>
<th>16</th>
<td>hospital_017</td>
<td>-38.159850</td>
<td>145.165998</td>
<td>Peninsula Private Hospital</td>
</tr>
<tr>
<th>17</th>
<td>hospital_018</td>
<td>-37.966621</td>
<td>145.194007</td>
<td>South Eastern Private Hospital</td>
</tr>
<tr>
<th>18</th>
<td>hospital_019</td>
<td>-36.362528</td>
<td>145.408591</td>
<td>Goulburn Valley Health</td>
</tr>
<tr>
<th>19</th>
<td>hospital_020</td>
<td>-36.140570</td>
<td>141.987191</td>
<td>Jeparit Hospital</td>
</tr>
<tr>
<th>20</th>
<td>hospital_021</td>
<td>-36.378489</td>
<td>141.237173</td>
<td>Kaniva Hospital</td>
</tr>
<tr>
<th>21</th>
<td>hospital_022</td>
<td>-37.816144</td>
<td>144.965102</td>
<td>Collins Street Medical Centre</td>
</tr>
<tr>
<th>22</th>
<td>hospital_023</td>
<td>-36.741816</td>
<td>141.941948</td>
<td>Natimuk Hospital</td>
</tr>
<tr>
<th>23</th>
<td>hospital_024</td>
<td>-37.788107</td>
<td>144.952924</td>
<td>The Melbourne Private Hospital</td>
</tr>
<tr>
<th>24</th>
<td>hospital_025</td>
<td>-37.716969</td>
<td>145.043174</td>
<td>La Trobe Private Hospital</td>
</tr>
<tr>
<th>25</th>
<td>hospital_026</td>
<td>-37.938613</td>
<td>145.213208</td>
<td>The Valley Private Hospital</td>
</tr>
<tr>
<th>26</th>
<td>hospital_027</td>
<td>-35.895790</td>
<td>141.997177</td>
<td>Rainbow Hospital</td>
</tr>
<tr>
<th>27</th>
<td>hospital_028</td>
<td>-38.545479</td>
<td>143.980829</td>
<td>Lorne Community Hospital</td>
</tr>
<tr>
<th>28</th>
<td>hospital_029</td>
<td>-37.789457</td>
<td>145.023888</td>
<td>Royal Talbot Rehabilitation Centre</td>
</tr>
<tr>
<th>29</th>
<td>hospital_030</td>
<td>-37.557401</td>
<td>143.847866</td>
<td>St John of God Hospital, Ballarat</td>
</tr>
<tr>
<th>30</th>
<td>hospital_031</td>
<td>-37.563193</td>
<td>143.846701</td>
<td>Dr Edmund EK Plastic Reconstructive &amp; Aesthetic Surgery</td>
</tr>
<tr>
<th>31</th>
<td>hospital_032</td>
<td>-37.805271</td>
<td>145.015201</td>
<td>Caritas Christi</td>
</tr>
<tr>
<th>32</th>
<td>hospital_033</td>
<td>-37.976549</td>
<td>145.216359</td>
<td>Dandenong Hospital</td>
</tr>
<tr>
<th>33</th>
<td>hospital_034</td>
<td>-37.790391</td>
<td>145.172943</td>
<td>Donvale Rehabilitation Hospital</td>
</tr>
<tr>
<th>34</th>
<td>hospital_035</td>
<td>-37.762911</td>
<td>145.007846</td>
<td>Olympia Private Rehabilitation Hospital</td>
</tr>
<tr>
<th>35</th>
<td>hospital_036</td>
<td>-37.942429</td>
<td>145.003715</td>
<td>Linacre Private Hospital</td>
</tr>
<tr>
<th>36</th>
<td>hospital_037</td>
<td>-37.701765</td>
<td>145.057284</td>
<td>Bundoora Extended Care Centre</td>
</tr>
<tr>
<th>37</th>
<td>hospital_038</td>
<td>-37.035202</td>
<td>141.289727</td>
<td>Edenhope and District Hospital</td>
</tr>
<tr>
<th>38</th>
<td>hospital_039</td>
<td>-37.763369</td>
<td>145.030778</td>
<td>Ivanhoe Private Rehabilitation Hospital</td>
</tr>
<tr>
<th>39</th>
<td>hospital_040</td>
<td>-36.349300</td>
<td>146.312423</td>
<td>Wangaratta Private Hospital</td>
</tr>
<tr>
<th>40</th>
<td>hospital_041</td>
<td>-37.691473</td>
<td>145.062939</td>
<td>Northpark Private Hospital</td>
</tr>
<tr>
<th>41</th>
<td>hospital_042</td>
<td>-37.815077</td>
<td>144.998797</td>
<td>Melbourne Neuropsychiatry</td>
</tr>
<tr>
<th>42</th>
<td>hospital_043</td>
<td>-38.148188</td>
<td>145.143379</td>
<td>Bayside Day Procedure and Specialist Centre</td>
</tr>
<tr>
<th>43</th>
<td>hospital_044</td>
<td>-37.053433</td>
<td>144.213627</td>
<td>Mt Alexander Hospital</td>
</tr>
<tr>
<th>44</th>
<td>hospital_045</td>
<td>-35.799279</td>
<td>144.214445</td>
<td>Cohuna District Hospital</td>
</tr>
<tr>
<th>45</th>
<td>hospital_046</td>
<td>-37.757785</td>
<td>145.059631</td>
<td>Austin Hospital</td>
</tr>
<tr>
<th>46</th>
<td>hospital_047</td>
<td>-37.842938</td>
<td>145.133670</td>
<td>Middleborough Dental Care</td>
</tr>
<tr>
<th>47</th>
<td>hospital_048</td>
<td>-37.970011</td>
<td>145.213276</td>
<td>St John of God Pinelodge Clinic</td>
</tr>
<tr>
<th>48</th>
<td>hospital_049</td>
<td>-37.862597</td>
<td>145.282709</td>
<td>Boronia Medical Centre</td>
</tr>
<tr>
<th>49</th>
<td>hospital_050</td>
<td>-38.361765</td>
<td>144.884906</td>
<td>Rosebud Hospital</td>
</tr>
<tr>
<th>50</th>
<td>hospital_051</td>
<td>-37.860094</td>
<td>145.055770</td>
<td>Associate Professor Sharon Van Doornum Rheumatologist</td>
</tr>
<tr>
<th>51</th>
<td>hospital_052</td>
<td>-37.813142</td>
<td>144.986882</td>
<td>Melbourne Orthopaedic Surgeons</td>
</tr>
<tr>
<th>52</th>
<td>hospital_053</td>
<td>-37.651577</td>
<td>145.016493</td>
<td>Waverley Private Hospital</td>
</tr>
<tr>
<th>53</th>
<td>hospital_054</td>
<td>-37.559513</td>
<td>143.848152</td>
<td>Dr Mohammed Al-Ansari - Gastroenterologist</td>
</tr>
<tr>
<th>54</th>
<td>hospital_055</td>
<td>-37.979978</td>
<td>145.052056</td>
<td>Ultimate Weight Loss Clinic</td>
</tr>
<tr>
<th>55</th>
<td>hospital_056</td>
<td>-37.793132</td>
<td>144.886196</td>
<td>Western Private Hospital</td>
</tr>
<tr>
<th>56</th>
<td>hospital_057</td>
<td>-37.760491</td>
<td>144.814500</td>
<td>Waverley Private Hospital</td>
</tr>
<tr>
<th>57</th>
<td>hospital_058</td>
<td>-37.961516</td>
<td>145.018839</td>
<td>Sandringham and District Memorial Hospital</td>
</tr>
<tr>
<th>58</th>
<td>hospital_059</td>
<td>-38.151327</td>
<td>145.164622</td>
<td>Total Care Medical Group</td>
</tr>
<tr>
<th>59</th>
<td>hospital_060</td>
<td>-37.832960</td>
<td>145.156080</td>
<td>Bellbird Private Hospital</td>
</tr>
<tr>
<th>60</th>
<td>hospital_061</td>
<td>-37.833192</td>
<td>145.156089</td>
<td>Bellbird Private Hospital Consulting Suites</td>
</tr>
<tr>
<th>61</th>
<td>hospital_062</td>
<td>-37.683849</td>
<td>143.367588</td>
<td>Skipton Memorial Hospital</td>
</tr>
<tr>
<th>62</th>
<td>hospital_063</td>
<td>-37.856085</td>
<td>144.998063</td>
<td>Avenue Day Surgery</td>
</tr>
<tr>
<th>63</th>
<td>hospital_064</td>
<td>-37.808694</td>
<td>145.048305</td>
<td>Cotham Private Hospital</td>
</tr>
<tr>
<th>64</th>
<td>hospital_065</td>
<td>-37.918365</td>
<td>145.121698</td>
<td>Sir John Monash Private Hospital</td>
</tr>
<tr>
<th>65</th>
<td>hospital_066</td>
<td>-37.755252</td>
<td>145.061784</td>
<td>Warringal Private Hospital</td>
</tr>
<tr>
<th>66</th>
<td>hospital_067</td>
<td>-34.185351</td>
<td>142.145643</td>
<td>Mildura Private Hospital</td>
</tr>
<tr>
<th>67</th>
<td>hospital_068</td>
<td>-37.771154</td>
<td>144.909379</td>
<td>North West Endoscopy Services</td>
</tr>
<tr>
<th>68</th>
<td>hospital_069</td>
<td>-38.029637</td>
<td>145.305886</td>
<td>Casey Gardens Day Hospital</td>
</tr>
<tr>
<th>69</th>
<td>hospital_070</td>
<td>-37.809836</td>
<td>145.193810</td>
<td>Dr Hema Grover - Eastern Obstetrics &amp; Gynaecology Specialists</td>
</tr>
<tr>
<th>70</th>
<td>hospital_071</td>
<td>-38.227623</td>
<td>145.042644</td>
<td>Surrey Street Family Clinic</td>
</tr>
<tr>
<th>71</th>
<td>hospital_072</td>
<td>-38.153993</td>
<td>145.133736</td>
<td>Frankston Private Day Surgery</td>
</tr>
<tr>
<th>72</th>
<td>hospital_073</td>
<td>-37.877485</td>
<td>144.679748</td>
<td>Wespoint Endoscopy Hospital</td>
</tr>
<tr>
<th>73</th>
<td>hospital_074</td>
<td>-35.915888</td>
<td>145.651292</td>
<td>Cobram District Hospital</td>
</tr>
<tr>
<th>74</th>
<td>hospital_075</td>
<td>-37.705130</td>
<td>145.105867</td>
<td>Gambro Diamond Valley Clinic</td>
</tr>
<tr>
<th>75</th>
<td>hospital_076</td>
<td>-37.921770</td>
<td>145.120573</td>
<td>Monash Surgical Private Hospital</td>
</tr>
<tr>
<th>76</th>
<td>hospital_077</td>
<td>-37.919482</td>
<td>145.120442</td>
<td>Dr Manju Salaria - The Melbourne Genetics</td>
</tr>
<tr>
<th>77</th>
<td>hospital_078</td>
<td>-38.152633</td>
<td>145.155344</td>
<td>St John of God Frankston Rehabilitation Hospital</td>
</tr>
<tr>
<th>78</th>
<td>hospital_079</td>
<td>-37.885346</td>
<td>145.009894</td>
<td>Rehabilitation Service Elsternwick</td>
</tr>
<tr>
<th>79</th>
<td>hospital_080</td>
<td>-37.884101</td>
<td>145.015562</td>
<td>Caulfield Hospital</td>
</tr>
<tr>
<th>80</th>
<td>hospital_081</td>
<td>-37.884402</td>
<td>145.015475</td>
<td>Caulfield General Medical Centre</td>
</tr>
<tr>
<th>81</th>
<td>hospital_082</td>
<td>-37.960466</td>
<td>145.056802</td>
<td>Chesterville Day Hospital</td>
</tr>
<tr>
<th>82</th>
<td>hospital_083</td>
<td>-37.920442</td>
<td>145.120402</td>
<td>Clayton Dental Clinic</td>
</tr>
<tr>
<th>83</th>
<td>hospital_084</td>
<td>-37.754096</td>
<td>144.958394</td>
<td>John Fawkner Hospital Pharmacy</td>
</tr>
<tr>
<th>84</th>
<td>hospital_085</td>
<td>-37.431149</td>
<td>143.382430</td>
<td>Beaufort Hospital</td>
</tr>
<tr>
<th>85</th>
<td>hospital_086</td>
<td>-37.819345</td>
<td>145.030915</td>
<td>Glenferrie Private Hospital</td>
</tr>
<tr>
<th>86</th>
<td>hospital_087</td>
<td>-37.866366</td>
<td>145.000660</td>
<td>Inkerman Medical Group</td>
</tr>
<tr>
<th>87</th>
<td>hospital_088</td>
<td>-36.554541</td>
<td>146.727589</td>
<td>Myrtleford Hospital</td>
</tr>
<tr>
<th>88</th>
<td>hospital_089</td>
<td>-37.857424</td>
<td>145.094156</td>
<td>Delmont Private Hospital</td>
</tr>
<tr>
<th>89</th>
<td>hospital_090</td>
<td>-37.745569</td>
<td>145.047228</td>
<td>Heidelberg Repatriation Hospital</td>
</tr>
<tr>
<th>90</th>
<td>hospital_091</td>
<td>-37.026942</td>
<td>145.139455</td>
<td>Seymour Medical Clinic</td>
</tr>
<tr>
<th>91</th>
<td>hospital_092</td>
<td>-37.863999</td>
<td>145.028082</td>
<td>Toorak-Malvern Day Surgery Centre</td>
</tr>
<tr>
<th>92</th>
<td>hospital_093</td>
<td>-36.111343</td>
<td>143.727462</td>
<td>Boort District Hospital</td>
</tr>
<tr>
<th>93</th>
<td>hospital_094</td>
<td>-37.837836</td>
<td>144.965630</td>
<td>Albert Road Clinic</td>
</tr>
<tr>
<th>94</th>
<td>hospital_095</td>
<td>-37.808656</td>
<td>144.976518</td>
<td>The Royal Victorian Eye and Ear Hospital</td>
</tr>
<tr>
<th>95</th>
<td>hospital_096</td>
<td>-37.993630</td>
<td>145.171007</td>
<td>Parkmore Medical Centre</td>
</tr>
<tr>
<th>96</th>
<td>hospital_097</td>
<td>-37.847486</td>
<td>144.997458</td>
<td>The Victoria Clinic</td>
</tr>
<tr>
<th>97</th>
<td>hospital_098</td>
<td>-37.863954</td>
<td>145.084952</td>
<td>Ashburton Eye Clinic</td>
</tr>
<tr>
<th>98</th>
<td>hospital_099</td>
<td>-38.167821</td>
<td>145.087951</td>
<td>Mount Eliza Centre</td>
</tr>
<tr>
<th>99</th>
<td>hospital_100</td>
<td>-36.011251</td>
<td>146.006620</td>
<td>Yarrawonga District Health Service</td>
</tr>
<tr>
<th>100</th>
<td>hospital_101</td>
<td>-37.884634</td>
<td>145.145798</td>
<td>Waverley Private Hospital</td>
</tr>
<tr>
<th>101</th>
<td>hospital_102</td>
<td>-37.780165</td>
<td>144.944821</td>
<td>Royal Melbourne Hospital - Royal Park Campus</td>
</tr>
<tr>
<th>102</th>
<td>hospital_103</td>
<td>-37.860457</td>
<td>144.991456</td>
<td>Mr Patrick Walsh ENT</td>
</tr>
<tr>
<th>103</th>
<td>hospital_104</td>
<td>-37.650697</td>
<td>144.920417</td>
<td>Broadmeadows Health Service</td>
</tr>
<tr>
<th>104</th>
<td>hospital_105</td>
<td>-37.811138</td>
<td>145.243076</td>
<td>Ringwood Private Hospital</td>
</tr>
<tr>
<th>105</th>
<td>hospital_106</td>
<td>-35.051146</td>
<td>142.880571</td>
<td>Manangatang and District Hospital</td>
</tr>
<tr>
<th>106</th>
<td>hospital_107</td>
<td>-37.647380</td>
<td>145.529074</td>
<td>Healesville and District Hospital</td>
</tr>
<tr>
<th>107</th>
<td>hospital_108</td>
<td>-37.867104</td>
<td>145.060793</td>
<td>Malvern Private Hospital</td>
</tr>
<tr>
<th>108</th>
<td>hospital_109</td>
<td>-37.962599</td>
<td>145.074785</td>
<td>Kingston Centre</td>
</tr>
<tr>
<th>109</th>
<td>hospital_110</td>
<td>-37.933054</td>
<td>145.036793</td>
<td>Bayside Endoscopy Day Hospital</td>
</tr>
<tr>
<th>110</th>
<td>hospital_111</td>
<td>-37.213660</td>
<td>145.430881</td>
<td>Yea and District Memorial Hospital</td>
</tr>
<tr>
<th>111</th>
<td>hospital_112</td>
<td>-36.555061</td>
<td>145.995509</td>
<td>Benalla and District Memorial Hospital</td>
</tr>
<tr>
<th>112</th>
<td>hospital_113</td>
<td>-37.761980</td>
<td>145.354789</td>
<td>Eastern Neurology Dr Steven Ng</td>
</tr>
<tr>
<th>113</th>
<td>hospital_114</td>
<td>-37.794612</td>
<td>144.930340</td>
<td>Kensington Healthcare</td>
</tr>
<tr>
<th>114</th>
<td>hospital_115</td>
<td>-35.340123</td>
<td>143.556638</td>
<td>Swan Hill District Health</td>
</tr>
<tr>
<th>115</th>
<td>hospital_116</td>
<td>-37.885525</td>
<td>145.009346</td>
<td>Elsternwick Private Hospital</td>
</tr>
<tr>
<th>116</th>
<td>hospital_117</td>
<td>-37.812324</td>
<td>145.116246</td>
<td>Dr Bronwyn Hamilton Obstetrician &amp; Gynaecologist</td>
</tr>
<tr>
<th>117</th>
<td>hospital_118</td>
<td>-37.795431</td>
<td>144.950351</td>
<td>Royal Children's Hospital - Cardiac Surgery Department</td>
</tr>
<tr>
<th>118</th>
<td>hospital_119</td>
<td>-37.985129</td>
<td>145.218965</td>
<td>Hygieia Medical and Dental Clinic Dandenong</td>
</tr>
<tr>
<th>119</th>
<td>hospital_120</td>
<td>-38.045255</td>
<td>145.345815</td>
<td>Casey Hospital</td>
</tr>
<tr>
<th>120</th>
<td>hospital_121</td>
<td>-36.349584</td>
<td>146.691468</td>
<td>Beechworth Health Service</td>
</tr>
<tr>
<th>121</th>
<td>hospital_122</td>
<td>-37.820007</td>
<td>145.003634</td>
<td>Richmond Medical</td>
</tr>
<tr>
<th>122</th>
<td>hospital_123</td>
<td>-37.057710</td>
<td>146.086534</td>
<td>Mansfield District Hospital</td>
</tr>
<tr>
<th>123</th>
<td>hospital_124</td>
<td>-37.971540</td>
<td>145.177824</td>
<td>Queen Elizabeth Centre</td>
</tr>
<tr>
<th>124</th>
<td>hospital_125</td>
<td>-37.807868</td>
<td>144.974556</td>
<td>St Vincent's Private Hospital Pharmacy</td>
</tr>
<tr>
<th>125</th>
<td>hospital_126</td>
<td>-37.900600</td>
<td>145.019380</td>
<td>Glen Eira Day Surgery</td>
</tr>
<tr>
<th>126</th>
<td>hospital_127</td>
<td>-37.824987</td>
<td>145.034679</td>
<td>Dr Rodger Davies Oculoplastic Surgeon</td>
</tr>
<tr>
<th>127</th>
<td>hospital_128</td>
<td>-37.766452</td>
<td>144.915856</td>
<td>North Western Vascular - Mr Roger Bell</td>
</tr>
<tr>
<th>128</th>
<td>hospital_129</td>
<td>-37.807855</td>
<td>144.976038</td>
<td>St Vincent's Private Hospital</td>
</tr>
<tr>
<th>129</th>
<td>hospital_130</td>
<td>-37.590567</td>
<td>141.392448</td>
<td>Casterton Memorial Hospital</td>
</tr>
<tr>
<th>130</th>
<td>hospital_131</td>
<td>-37.795974</td>
<td>144.948439</td>
<td>Victorian Orthopaedic Centre</td>
</tr>
<tr>
<th>131</th>
<td>hospital_132</td>
<td>-37.854120</td>
<td>145.008884</td>
<td>Cabrini Palliative Care</td>
</tr>
<tr>
<th>132</th>
<td>hospital_133</td>
<td>-37.981338</td>
<td>145.066658</td>
<td>David Dangerfield Urology</td>
</tr>
<tr>
<th>133</th>
<td>hospital_134</td>
<td>-37.810915</td>
<td>145.004122</td>
<td>Mercy Health and Aged Care</td>
</tr>
<tr>
<th>134</th>
<td>hospital_135</td>
<td>-37.830655</td>
<td>144.960803</td>
<td>Dr Scott Ling Chinese Medicine Practitioner</td>
</tr>
<tr>
<th>135</th>
<td>hospital_136</td>
<td>-37.799549</td>
<td>144.964442</td>
<td>The Royal Dental Hospital of Melbourne</td>
</tr>
<tr>
<th>136</th>
<td>hospital_137</td>
<td>-37.255181</td>
<td>144.469941</td>
<td>Campaspe Family Practice - Kyneton</td>
</tr>
<tr>
<th>137</th>
<td>hospital_138</td>
<td>-38.151543</td>
<td>144.367283</td>
<td>Geelong Private Hospital</td>
</tr>
<tr>
<th>138</th>
<td>hospital_139</td>
<td>-37.717568</td>
<td>144.998059</td>
<td>Reservoir Private Hospital</td>
</tr>
<tr>
<th>139</th>
<td>hospital_140</td>
<td>-37.807898</td>
<td>144.976641</td>
<td>Epsworth Eastern Hospital</td>
</tr>
<tr>
<th>140</th>
<td>hospital_141</td>
<td>-37.862395</td>
<td>144.891560</td>
<td>Williamstown Hospital</td>
</tr>
<tr>
<th>141</th>
<td>hospital_142</td>
<td>-37.873425</td>
<td>148.000794</td>
<td>Cunninghame Arm Medical Centre</td>
</tr>
<tr>
<th>142</th>
<td>hospital_143</td>
<td>-38.151877</td>
<td>144.357215</td>
<td>St John of God Hospital, Geelong</td>
</tr>
<tr>
<th>143</th>
<td>hospital_144</td>
<td>-37.756480</td>
<td>144.971798</td>
<td>Brunswick Private Hospital</td>
</tr>
<tr>
<th>144</th>
<td>hospital_145</td>
<td>-38.658958</td>
<td>146.206311</td>
<td>South Gippsland Hospital</td>
</tr>
<tr>
<th>145</th>
<td>hospital_146</td>
<td>-37.817726</td>
<td>144.993048</td>
<td>Epworth Richmond HealthCare</td>
</tr>
<tr>
<th>146</th>
<td>hospital_147</td>
<td>-38.236362</td>
<td>143.137785</td>
<td>South West Healthcare - Camperdown Campus</td>
</tr>
<tr>
<th>147</th>
<td>hospital_148</td>
<td>-38.225678</td>
<td>145.049817</td>
<td>Beleura Private Hospital</td>
</tr>
<tr>
<th>148</th>
<td>hospital_149</td>
<td>-38.181793</td>
<td>144.393523</td>
<td>The Geelong Clinic</td>
</tr>
<tr>
<th>149</th>
<td>hospital_150</td>
<td>-37.898939</td>
<td>145.313303</td>
<td>Angliss Hospital</td>
</tr>
<tr>
<th>150</th>
<td>hospital_151</td>
<td>-37.752662</td>
<td>145.356559</td>
<td>Dr David Cutting</td>
</tr>
<tr>
<th>151</th>
<td>hospital_152</td>
<td>-37.677208</td>
<td>144.432348</td>
<td>Bacchus Marsh Medical Centre</td>
</tr>
<tr>
<th>152</th>
<td>hospital_153</td>
<td>-37.600149</td>
<td>144.222812</td>
<td>Australian Hearing Ballan And District Community Hospital</td>
</tr>
<tr>
<th>153</th>
<td>hospital_154</td>
<td>-37.813755</td>
<td>145.119757</td>
<td>Box Hill Hospital, Oncology Department</td>
</tr>
<tr>
<th>154</th>
<td>hospital_155</td>
<td>-37.846005</td>
<td>144.987597</td>
<td>Dr Sergei Mitnovetski</td>
</tr>
<tr>
<th>155</th>
<td>hospital_156</td>
<td>-37.911771</td>
<td>144.991554</td>
<td>Cabrini Hospital - Brighton</td>
</tr>
<tr>
<th>156</th>
<td>hospital_157</td>
<td>-37.862804</td>
<td>145.033062</td>
<td>Cabrini Hospital - Malvern</td>
</tr>
<tr>
<th>157</th>
<td>hospital_158</td>
<td>-37.815572</td>
<td>145.119661</td>
<td>Eastern Health - Box Hill Hospital</td>
</tr>
<tr>
<th>158</th>
<td>hospital_159</td>
<td>-37.922166</td>
<td>145.066945</td>
<td>Monash Medical Centre - Moorabbin Campus</td>
</tr>
<tr>
<th>159</th>
<td>hospital_160</td>
<td>-37.799601</td>
<td>144.954356</td>
<td>Dr Girish Nair (Neurosurgeon &amp; Spinal Surgeon)</td>
</tr>
<tr>
<th>160</th>
<td>hospital_161</td>
<td>-37.938596</td>

We can see that the information needed to build the dataframe all have `<tr>` tag, so we extract all of those information

In [10]:
bsobj_info=bsobj.findAll('tr')
bsobj_info

[<tr style="text-align: right;">
 <th></th>
 <th>id</th>
 <th>lat</th>
 <th>lng</th>
 <th>name</th>
 </tr>,
 <tr>
 <th>0</th>
 <td>hospital_001</td>
 <td>-37.990622</td>
 <td>145.072836</td>
 <td>Como Private Hospital</td>
 </tr>,
 <tr>
 <th>1</th>
 <td>hospital_002</td>
 <td>-37.855469</td>
 <td>145.268183</td>
 <td>Mountain District Private Hospital</td>
 </tr>,
 <tr>
 <th>2</th>
 <td>hospital_003</td>
 <td>-37.792230</td>
 <td>144.889128</td>
 <td>Western Hospital</td>
 </tr>,
 <tr>
 <th>3</th>
 <td>hospital_004</td>
 <td>-37.756042</td>
 <td>145.061896</td>
 <td>Mercy Hospital for Women</td>
 </tr>,
 <tr>
 <th>4</th>
 <td>hospital_005</td>
 <td>-37.760623</td>
 <td>144.815624</td>
 <td>Sunshine Hospital</td>
 </tr>,
 <tr>
 <th>5</th>
 <td>hospital_006</td>
 <td>-36.359274</td>
 <td>145.410832</td>
 <td>Shepparton Private Hospital</td>
 </tr>,
 <tr>
 <th>6</th>
 <td>hospital_007</td>
 <td>-37.774573</td>
 <td>144.923973</td>
 <td>Ascot Vale Road Specialist Rooms</td>
 </tr>,
 <tr>
 <th>7</th>
 <td>hospital_008</td>
 <td>-37.849467</td>
 <td>145.226801</td>
 <td>Knox Private Hospital</td>
 </tr>,
 <tr>
 <th>8</th>
 <td>hospital_009</td>
 <td>-37.869801</td>
 <td>145.003096</td>
 <td>Masada Private Hospital</td>
 </tr>,
 <tr>
 <th>9</th>
 <td>hospital_010</td>
 <td>-37.810454</td>
 <td>145.194100</td>
 <td>Mitcham Private Hospital</td>
 </tr>,
 <tr>
 <th>10</th>
 <td>hospital_011</td>
 <td>-37.754592</td>
 <td>144.958277</td>
 <td>John Fawkner Private Hospital</td>
 </tr>,
 <tr>
 <th>11</th>
 <td>hospital_012</td>
 <td>-37.854654</td>
 <td>144.998759</td>
 <td>The Avenue Private Hospital</td>
 </tr>,
 <tr>
 <th>12</th>
 <td>hospital_013</td>
 <td>-37.896305</td>
 <td>145.013206</td>
 <td>Calvary Health Care Bethlehem</td>
 </tr>,
 <tr>
 <th>13</th>
 <td>hospital_014</td>
 <td>-37.814309</td>
 <td>145.118569</td>
 <td>Box Hill Hospital</td>
 </tr>,
 <tr>
 <th>14</th>
 <td>hospital_015</td>
 <td>-36.138197</td>
 <td>144.748819</td>
 <td>Echuca Regional Health</td>
 </tr>,
 <tr>
 <th>15</th>
 <td>hospital_016</td>
 <td>-36.993135</td>
 <td>144.064656</td>
 <td>Maldon Hospital</td>
 </tr>,
 <tr>
 <th>16</th>
 <td>hospital_017</td>
 <td>-38.159850</td>
 <td>145.165998</td>
 <td>Peninsula Private Hospital</td>
 </tr>,
 <tr>
 <th>17</th>
 <td>hospital_018</td>
 <td>-37.966621</td>
 <td>145.194007</td>
 <td>South Eastern Private Hospital</td>
 </tr>,
 <tr>
 <th>18</th>
 <td>hospital_019</td>
 <td>-36.362528</td>
 <td>145.408591</td>
 <td>Goulburn Valley Health</td>
 </tr>,
 <tr>
 <th>19</th>
 <td>hospital_020</td>
 <td>-36.140570</td>
 <td>141.987191</td>
 <td>Jeparit Hospital</td>
 </tr>,
 <tr>
 <th>20</th>
 <td>hospital_021</td>
 <td>-36.378489</td>
 <td>141.237173</td>
 <td>Kaniva Hospital</td>
 </tr>,
 <tr>
 <th>21</th>
 <td>hospital_022</td>
 <td>-37.816144</td>
 <td>144.965102</td>
 <td>Collins Street Medical Centre</td>
 </tr>,
 <tr>
 <th>22</th>
 <td>hospital_023</td>
 <td>-36.741816</td>
 <td>141.941948</td>
 <td>Natimuk Hospital</td>
 </tr>,
 <tr>
 <th>23</th>
 <td>hospital_024</td>
 <td>-37.788107</td>
 <td>144.952924</td>
 <td>The Melbourne Private Hospital</td>
 </tr>,
 <tr>
 <th>24</th>
 <td>hospital_025</td>
 <td>-37.716969</td>
 <td>145.043174</td>
 <td>La Trobe Private Hospital</td>
 </tr>,
 <tr>
 <th>25</th>
 <td>hospital_026</td>
 <td>-37.938613</td>
 <td>145.213208</td>
 <td>The Valley Private Hospital</td>
 </tr>,
 <tr>
 <th>26</th>
 <td>hospital_027</td>
 <td>-35.895790</td>
 <td>141.997177</td>
 <td>Rainbow Hospital</td>
 </tr>,
 <tr>
 <th>27</th>
 <td>hospital_028</td>
 <td>-38.545479</td>
 <td>143.980829</td>
 <td>Lorne Community Hospital</td>
 </tr>,
 <tr>
 <th>28</th>
 <td>hospital_029</td>
 <td>-37.789457</td>
 <td>145.023888</td>
 <td>Royal Talbot Rehabilitation Centre</td>
 </tr>,
 <tr>
 <th>29</th>
 <td>hospital_030</td>
 <td>-37.557401</td>
 <td>143.847866</td>
 <td>St John of God Hospital, Ballarat</td>
 </tr>,
 <tr>
 <th>30</th>
 <td>hospital_031</td>
 <td>-37.563193</td>
 <td>143.846701</td>
 <td>Dr Edmund EK Plastic Reconstructive &amp; Aesthetic Surgery</td>
 </tr>,
 <tr>
 <th>31</th>
 <td>hospital_032</td>
 <td>-37.805271</td>
 <td>145.015201</td>
 <td>Caritas Christi</td>
 </tr>,
 <tr>
 <th>32</th>
 <td>hospital_033</td>
 <td>-37.976549</td>
 <td>145.216359</td>
 <td>Dandenong Hospital</td>
 </tr>,
 <tr>
 <th>33</th>
 <td>hospital_034</td>
 <td>-37.790391</td>
 <td>145.172943</td>
 <td>Donvale Rehabilitation Hospital</td>
 </tr>,
 <tr>
 <th>34</th>
 <td>hospital_035</td>
 <td>-37.762911</td>
 <td>145.007846</td>
 <td>Olympia Private Rehabilitation Hospital</td>
 </tr>,
 <tr>
 <th>35</th>
 <td>hospital_036</td>
 <td>-37.942429</td>
 <td>145.003715</td>
 <td>Linacre Private Hospital</td>
 </tr>,
 <tr>
 <th>36</th>
 <td>hospital_037</td>
 <td>-37.701765</td>
 <td>145.057284</td>
 <td>Bundoora Extended Care Centre</td>
 </tr>,
 <tr>
 <th>37</th>
 <td>hospital_038</td>
 <td>-37.035202</td>
 <td>141.289727</td>
 <td>Edenhope and District Hospital</td>
 </tr>,
 <tr>
 <th>38</th>
 <td>hospital_039</td>
 <td>-37.763369</td>
 <td>145.030778</td>
 <td>Ivanhoe Private Rehabilitation Hospital</td>
 </tr>,
 <tr>
 <th>39</th>
 <td>hospital_040</td>
 <td>-36.349300</td>
 <td>146.312423</td>
 <td>Wangaratta Private Hospital</td>
 </tr>,
 <tr>
 <th>40</th>
 <td>hospital_041</td>
 <td>-37.691473</td>
 <td>145.062939</td>
 <td>Northpark Private Hospital</td>
 </tr>,
 <tr>
 <th>41</th>
 <td>hospital_042</td>
 <td>-37.815077</td>
 <td>144.998797</td>
 <td>Melbourne Neuropsychiatry</td>
 </tr>,
 <tr>
 <th>42</th>
 <td>hospital_043</td>
 <td>-38.148188</td>
 <td>145.143379</td>
 <td>Bayside Day Procedure and Specialist Centre</td>
 </tr>,
 <tr>
 <th>43</th>
 <td>hospital_044</td>
 <td>-37.053433</td>
 <td>144.213627</td>
 <td>Mt Alexander Hospital</td>
 </tr>,
 <tr>
 <th>44</th>
 <td>hospital_045</td>
 <td>-35.799279</td>
 <td>144.214445</td>
 <td>Cohuna District Hospital</td>
 </tr>,
 <tr>
 <th>45</th>
 <td>hospital_046</td>
 <td>-37.757785</td>
 <td>145.059631</td>
 <td>Austin Hospital</td>
 </tr>,
 <tr>
 <th>46</th>
 <td>hospital_047</td>
 <td>-37.842938</td>
 <td>145.133670</td>
 <td>Middleborough Dental Care</td>
 </tr>,
 <tr>
 <th>47</th>
 <td>hospital_048</td>
 <td>-37.970011</td>
 <td>145.213276</td>
 <td>St John of God Pinelodge Clinic</td>
 </tr>,
 <tr>
 <th>48</th>
 <td>hospital_049</td>
 <td>-37.862597</td>
 <td>145.282709</td>
 <td>Boronia Medical Centre</td>
 </tr>,
 <tr>
 <th>49</th>
 <td>hospital_050</td>
 <td>-38.361765</td>
 <td>144.884906</td>
 <td>Rosebud Hospital</td>
 </tr>,
 <tr>
 <th>50</th>
 <td>hospital_051</td>
 <td>-37.860094</td>
 <td>145.055770</td>
 <td>Associate Professor Sharon Van Doornum Rheumatologist</td>
 </tr>,
 <tr>
 <th>51</th>
 <td>hospital_052</td>
 <td>-37.813142</td>
 <td>144.986882</td>
 <td>Melbourne Orthopaedic Surgeons</td>
 </tr>,
 <tr>
 <th>52</th>
 <td>hospital_053</td>
 <td>-37.651577</td>
 <td>145.016493</td>
 <td>Waverley Private Hospital</td>
 </tr>,
 <tr>
 <th>53</th>
 <td>hospital_054</td>
 <td>-37.559513</td>
 <td>143.848152</td>
 <td>Dr Mohammed Al-Ansari - Gastroenterologist</td>
 </tr>,
 <tr>
 <th>54</th>
 <td>hospital_055</td>
 <td>-37.979978</td>
 <td>145.052056</td>
 <td>Ultimate Weight Loss Clinic</td>
 </tr>,
 <tr>
 <th>55</th>
 <td>hospital_056</td>
 <td>-37.793132</td>
 <td>144.886196</td>
 <td>Western Private Hospital</td>
 </tr>,
 <tr>
 <th>56</th>
 <td>hospital_057</td>
 <td>-37.760491</td>
 <td>144.814500</td>
 <td>Waverley Private Hospital</td>
 </tr>,
 <tr>
 <th>57</th>
 <td>hospital_058</td>
 <td>-37.961516</td>
 <td>145.018839</td>
 <td>Sandringham and District Memorial Hospital</td>
 </tr>,
 <tr>
 <th>58</th>
 <td>hospital_059</td>
 <td>-38.151327</td>
 <td>145.164622</td>
 <td>Total Care Medical Group</td>
 </tr>,
 <tr>
 <th>59</th>
 <td>hospital_060</td>
 <td>-37.832960</td>
 <td>145.156080</td>
 <td>Bellbird Private Hospital</td>
 </tr>,
 <tr>
 <th>60</th>
 <td>hospital_061</td>
 <td>-37.833192</td>
 <td>145.156089</td>
 <td>Bellbird Private Hospital Consulting Suites</td>
 </tr>,
 <tr>
 <th>61</th>
 <td>hospital_062</td>
 <td>-37.683849</td>
 <td>143.367588</td>
 <td>Skipton Memorial Hospital</td>
 </tr>,
 <tr>
 <th>62</th>
 <td>hospital_063</td>
 <td>-37.856085</td>
 <td>144.998063</td>
 <td>Avenue Day Surgery</td>
 </tr>,
 <tr>
 <th>63</th>
 <td>hospital_064</td>
 <td>-37.808694</td>
 <td>145.048305</td>
 <td>Cotham Private Hospital</td>
 </tr>,
 <tr>
 <th>64</th>
 <td>hospital_065</td>
 <td>-37.918365</td>
 <td>145.121698</td>
 <td>Sir John Monash Private Hospital</td>
 </tr>,
 <tr>
 <th>65</th>
 <td>hospital_066</td>
 <td>-37.755252</td>
 <td>145.061784</td>
 <td>Warringal Private Hospital</td>
 </tr>,
 <tr>
 <th>66</th>
 <td>hospital_067</td>
 <td>-34.185351</td>
 <td>142.145643</td>
 <td>Mildura Private Hospital</td>
 </tr>,
 <tr>
 <th>67</th>
 <td>hospital_068</td>
 <td>-37.771154</td>
 <td>144.909379</td>
 <td>North West Endoscopy Services</td>
 </tr>,
 <tr>
 <th>68</th>
 <td>hospital_069</td>
 <td>-38.029637</td>
 <td>145.305886</td>
 <td>Casey Gardens Day Hospital</td>
 </tr>,
 <tr>
 <th>69</th>
 <td>hospital_070</td>
 <td>-37.809836</td>
 <td>145.193810</td>
 <td>Dr Hema Grover - Eastern Obstetrics &amp; Gynaecology Specialists</td>
 </tr>,
 <tr>
 <th>70</th>
 <td>hospital_071</td>
 <td>-38.227623</td>
 <td>145.042644</td>
 <td>Surrey Street Family Clinic</td>
 </tr>,
 <tr>
 <th>71</th>
 <td>hospital_072</td>
 <td>-38.153993</td>
 <td>145.133736</td>
 <td>Frankston Private Day Surgery</td>
 </tr>,
 <tr>
 <th>72</th>
 <td>hospital_073</td>
 <td>-37.877485</td>
 <td>144.679748</td>
 <td>Wespoint Endoscopy Hospital</td>
 </tr>,
 <tr>
 <th>73</th>
 <td>hospital_074</td>
 <td>-35.915888</td>
 <td>145.651292</td>
 <td>Cobram District Hospital</td>
 </tr>,
 <tr>
 <th>74</th>
 <td>hospital_075</td>
 <td>-37.705130</td>
 <td>145.105867</td>
 <td>Gambro Diamond Valley Clinic</td>
 </tr>,
 <tr>
 <th>75</th>
 <td>hospital_076</td>
 <td>-37.921770</td>
 <td>145.120573</td>
 <td>Monash Surgical Private Hospital</td>
 </tr>,
 <tr>
 <th>76</th>
 <td>hospital_077</td>
 <td>-37.919482</td>
 <td>145.120442</td>
 <td>Dr Manju Salaria - The Melbourne Genetics</td>
 </tr>,
 <tr>
 <th>77</th>
 <td>hospital_078</td>
 <td>-38.152633</td>
 <td>145.155344</td>
 <td>St John of God Frankston Rehabilitation Hospital</td>
 </tr>,
 <tr>
 <th>78</th>
 <td>hospital_079</td>
 <td>-37.885346</td>
 <td>145.009894</td>
 <td>Rehabilitation Service Elsternwick</td>
 </tr>,
 <tr>
 <th>79</th>
 <td>hospital_080</td>
 <td>-37.884101</td>
 <td>145.015562</td>
 <td>Caulfield Hospital</td>
 </tr>,
 <tr>
 <th>80</th>
 <td>hospital_081</td>
 <td>-37.884402</td>
 <td>145.015475</td>
 <td>Caulfield General Medical Centre</td>
 </tr>,
 <tr>
 <th>81</th>
 <td>hospital_082</td>
 <td>-37.960466</td>
 <td>145.056802</td>
 <td>Chesterville Day Hospital</td>
 </tr>,
 <tr>
 <th>82</th>
 <td>hospital_083</td>
 <td>-37.920442</td>
 <td>145.120402</td>
 <td>Clayton Dental Clinic</td>
 </tr>,
 <tr>
 <th>83</th>
 <td>hospital_084</td>
 <td>-37.754096</td>
 <td>144.958394</td>
 <td>John Fawkner Hospital Pharmacy</td>
 </tr>,
 <tr>
 <th>84</th>
 <td>hospital_085</td>
 <td>-37.431149</td>
 <td>143.382430</td>
 <td>Beaufort Hospital</td>
 </tr>,
 <tr>
 <th>85</th>
 <td>hospital_086</td>
 <td>-37.819345</td>
 <td>145.030915</td>
 <td>Glenferrie Private Hospital</td>
 </tr>,
 <tr>
 <th>86</th>
 <td>hospital_087</td>
 <td>-37.866366</td>
 <td>145.000660</td>
 <td>Inkerman Medical Group</td>
 </tr>,
 <tr>
 <th>87</th>
 <td>hospital_088</td>
 <td>-36.554541</td>
 <td>146.727589</td>
 <td>Myrtleford Hospital</td>
 </tr>,
 <tr>
 <th>88</th>
 <td>hospital_089</td>
 <td>-37.857424</td>
 <td>145.094156</td>
 <td>Delmont Private Hospital</td>
 </tr>,
 <tr>
 <th>89</th>
 <td>hospital_090</td>
 <td>-37.745569</td>
 <td>145.047228</td>
 <td>Heidelberg Repatriation Hospital</td>
 </tr>,
 <tr>
 <th>90</th>
 <td>hospital_091</td>
 <td>-37.026942</td>
 <td>145.139455</td>
 <td>Seymour Medical Clinic</td>
 </tr>,
 <tr>
 <th>91</th>
 <td>hospital_092</td>
 <td>-37.863999</td>
 <td>145.028082</td>
 <td>Toorak-Malvern Day Surgery Centre</td>
 </tr>,
 <tr>
 <th>92</th>
 <td>hospital_093</td>
 <td>-36.111343</td>
 <td>143.727462</td>
 <td>Boort District Hospital</td>
 </tr>,
 <tr>
 <th>93</th>
 <td>hospital_094</td>
 <td>-37.837836</td>
 <td>144.965630</td>
 <td>Albert Road Clinic</td>
 </tr>,
 <tr>
 <th>94</th>
 <td>hospital_095</td>
 <td>-37.808656</td>
 <td>144.976518</td>
 <td>The Royal Victorian Eye and Ear Hospital</td>
 </tr>,
 <tr>
 <th>95</th>
 <td>hospital_096</td>
 <td>-37.993630</td>
 <td>145.171007</td>
 <td>Parkmore Medical Centre</td>
 </tr>,
 <tr>
 <th>96</th>
 <td>hospital_097</td>
 <td>-37.847486</td>
 <td>144.997458</td>
 <td>The Victoria Clinic</td>
 </tr>,
 <tr>
 <th>97</th>
 <td>hospital_098</td>
 <td>-37.863954</td>
 <td>145.084952</td>
 <td>Ashburton Eye Clinic</td>
 </tr>,
 <tr>
 <th>98</th>
 <td>hospital_099</td>
 <td>-38.167821</td>
 <td>145.087951</td>
 <td>Mount Eliza Centre</td>
 </tr>,
 <tr>
 <th>99</th>
 <td>hospital_100</td>
 <td>-36.011251</td>
 <td>146.006620</td>
 <td>Yarrawonga District Health Service</td>
 </tr>,
 <tr>
 <th>100</th>
 <td>hospital_101</td>
 <td>-37.884634</td>
 <td>145.145798</td>
 <td>Waverley Private Hospital</td>
 </tr>,
 <tr>
 <th>101</th>
 <td>hospital_102</td>
 <td>-37.780165</td>
 <td>144.944821</td>
 <td>Royal Melbourne Hospital - Royal Park Campus</td>
 </tr>,
 <tr>
 <th>102</th>
 <td>hospital_103</td>
 <td>-37.860457</td>
 <td>144.991456</td>
 <td>Mr Patrick Walsh ENT</td>
 </tr>,
 <tr>
 <th>103</th>
 <td>hospital_104</td>
 <td>-37.650697</td>
 <td>144.920417</td>
 <td>Broadmeadows Health Service</td>
 </tr>,
 <tr>
 <th>104</th>
 <td>hospital_105</td>
 <td>-37.811138</td>
 <td>145.243076</td>
 <td>Ringwood Private Hospital</td>
 </tr>,
 <tr>
 <th>105</th>
 <td>hospital_106</td>
 <td>-35.051146</td>
 <td>142.880571</td>
 <td>Manangatang and District Hospital</td>
 </tr>,
 <tr>
 <th>106</th>
 <td>hospital_107</td>
 <td>-37.647380</td>
 <td>145.529074</td>
 <td>Healesville and District Hospital</td>
 </tr>,
 <tr>
 <th>107</th>
 <td>hospital_108</td>
 <td>-37.867104</td>
 <td>145.060793</td>
 <td>Malvern Private Hospital</td>
 </tr>,
 <tr>
 <th>108</th>
 <td>hospital_109</td>
 <td>-37.962599</td>
 <td>145.074785</td>
 <td>Kingston Centre</td>
 </tr>,
 <tr>
 <th>109</th>
 <td>hospital_110</td>
 <td>-37.933054</td>
 <td>145.036793</td>
 <td>Bayside Endoscopy Day Hospital</td>
 </tr>,
 <tr>
 <th>110</th>
 <td>hospital_111</td>
 <td>-37.213660</td>
 <td>145.430881</td>
 <td>Yea and District Memorial Hospital</td>
 </tr>,
 <tr>
 <th>111</th>
 <td>hospital_112</td>
 <td>-36.555061</td>
 <td>145.995509</td>
 <td>Benalla and District Memorial Hospital</td>
 </tr>,
 <tr>
 <th>112</th>
 <td>hospital_113</td>
 <td>-37.761980</td>
 <td>145.354789</td>
 <td>Eastern Neurology Dr Steven Ng</td>
 </tr>,
 <tr>
 <th>113</th>
 <td>hospital_114</td>
 <td>-37.794612</td>
 <td>144.930340</td>
 <td>Kensington Healthcare</td>
 </tr>,
 <tr>
 <th>114</th>
 <td>hospital_115</td>
 <td>-35.340123</td>
 <td>143.556638</td>
 <td>Swan Hill District Health</td>
 </tr>,
 <tr>
 <th>115</th>
 <td>hospital_116</td>
 <td>-37.885525</td>
 <td>145.009346</td>
 <td>Elsternwick Private Hospital</td>
 </tr>,
 <tr>
 <th>116</th>
 <td>hospital_117</td>
 <td>-37.812324</td>
 <td>145.116246</td>
 <td>Dr Bronwyn Hamilton Obstetrician &amp; Gynaecologist</td>
 </tr>,
 <tr>
 <th>117</th>
 <td>hospital_118</td>
 <td>-37.795431</td>
 <td>144.950351</td>
 <td>Royal Children's Hospital - Cardiac Surgery Department</td>
 </tr>,
 <tr>
 <th>118</th>
 <td>hospital_119</td>
 <td>-37.985129</td>
 <td>145.218965</td>
 <td>Hygieia Medical and Dental Clinic Dandenong</td>
 </tr>,
 <tr>
 <th>119</th>
 <td>hospital_120</td>
 <td>-38.045255</td>
 <td>145.345815</td>
 <td>Casey Hospital</td>
 </tr>,
 <tr>
 <th>120</th>
 <td>hospital_121</td>
 <td>-36.349584</td>
 <td>146.691468</td>
 <td>Beechworth Health Service</td>
 </tr>,
 <tr>
 <th>121</th>
 <td>hospital_122</td>
 <td>-37.820007</td>
 <td>145.003634</td>
 <td>Richmond Medical</td>
 </tr>,
 <tr>
 <th>122</th>
 <td>hospital_123</td>
 <td>-37.057710</td>
 <td>146.086534</td>
 <td>Mansfield District Hospital</td>
 </tr>,
 <tr>
 <th>123</th>
 <td>hospital_124</td>
 <td>-37.971540</td>
 <td>145.177824</td>
 <td>Queen Elizabeth Centre</td>
 </tr>,
 <tr>
 <th>124</th>
 <td>hospital_125</td>
 <td>-37.807868</td>
 <td>144.974556</td>
 <td>St Vincent's Private Hospital Pharmacy</td>
 </tr>,
 <tr>
 <th>125</th>
 <td>hospital_126</td>
 <td>-37.900600</td>
 <td>145.019380</td>
 <td>Glen Eira Day Surgery</td>
 </tr>,
 <tr>
 <th>126</th>
 <td>hospital_127</td>
 <td>-37.824987</td>
 <td>145.034679</td>
 <td>Dr Rodger Davies Oculoplastic Surgeon</td>
 </tr>,
 <tr>
 <th>127</th>
 <td>hospital_128</td>
 <td>-37.766452</td>
 <td>144.915856</td>
 <td>North Western Vascular - Mr Roger Bell</td>
 </tr>,
 <tr>
 <th>128</th>
 <td>hospital_129</td>
 <td>-37.807855</td>
 <td>144.976038</td>
 <td>St Vincent's Private Hospital</td>
 </tr>,
 <tr>
 <th>129</th>
 <td>hospital_130</td>
 <td>-37.590567</td>
 <td>141.392448</td>
 <td>Casterton Memorial Hospital</td>
 </tr>,
 <tr>
 <th>130</th>
 <td>hospital_131</td>
 <td>-37.795974</td>
 <td>144.948439</td>
 <td>Victorian Orthopaedic Centre</td>
 </tr>,
 <tr>
 <th>131</th>
 <td>hospital_132</td>
 <td>-37.854120</td>
 <td>145.008884</td>
 <td>Cabrini Palliative Care</td>
 </tr>,
 <tr>
 <th>132</th>
 <td>hospital_133</td>
 <td>-37.981338</td>
 <td>145.066658</td>
 <td>David Dangerfield Urology</td>
 </tr>,
 <tr>
 <th>133</th>
 <td>hospital_134</td>
 <td>-37.810915</td>
 <td>145.004122</td>
 <td>Mercy Health and Aged Care</td>
 </tr>,
 <tr>
 <th>134</th>
 <td>hospital_135</td>
 <td>-37.830655</td>
 <td>144.960803</td>
 <td>Dr Scott Ling Chinese Medicine Practitioner</td>
 </tr>,
 <tr>
 <th>135</th>
 <td>hospital_136</td>
 <td>-37.799549</td>
 <td>144.964442</td>
 <td>The Royal Dental Hospital of Melbourne</td>
 </tr>,
 <tr>
 <th>136</th>
 <td>hospital_137</td>
 <td>-37.255181</td>
 <td>144.469941</td>
 <td>Campaspe Family Practice - Kyneton</td>
 </tr>,
 <tr>
 <th>137</th>
 <td>hospital_138</td>
 <td>-38.151543</td>
 <td>144.367283</td>
 <td>Geelong Private Hospital</td>
 </tr>,
 <tr>
 <th>138</th>
 <td>hospital_139</td>
 <td>-37.717568</td>
 <td>144.998059</td>
 <td>Reservoir Private Hospital</td>
 </tr>,
 <tr>
 <th>139</th>
 <td>hospital_140</td>
 <td>-37.807898</td>
 <td>144.976641</td>
 <td>Epsworth Eastern Hospital</td>
 </tr>,
 <tr>
 <th>140</th>
 <td>hospital_141</td>
 <td>-37.862395</td>
 <td>144.891560</td>
 <td>Williamstown Hospital</td>
 </tr>,
 <tr>
 <th>141</th>
 <td>hospital_142</td>
 <td>-37.873425</td>
 <td>148.000794</td>
 <td>Cunninghame Arm Medical Centre</td>
 </tr>,
 <tr>
 <th>142</th>
 <td>hospital_143</td>
 <td>-38.151877</td>
 <td>144.357215</td>
 <td>St John of God Hospital, Geelong</td>
 </tr>,
 <tr>
 <th>143</th>
 <td>hospital_144</td>
 <td>-37.756480</td>
 <td>144.971798</td>
 <td>Brunswick Private Hospital</td>
 </tr>,
 <tr>
 <th>144</th>
 <td>hospital_145</td>
 <td>-38.658958</td>
 <td>146.206311</td>
 <td>South Gippsland Hospital</td>
 </tr>,
 <tr>
 <th>145</th>
 <td>hospital_146</td>
 <td>-37.817726</td>
 <td>144.993048</td>
 <td>Epworth Richmond HealthCare</td>
 </tr>,
 <tr>
 <th>146</th>
 <td>hospital_147</td>
 <td>-38.236362</td>
 <td>143.137785</td>
 <td>South West Healthcare - Camperdown Campus</td>
 </tr>,
 <tr>
 <th>147</th>
 <td>hospital_148</td>
 <td>-38.225678</td>
 <td>145.049817</td>
 <td>Beleura Private Hospital</td>
 </tr>,
 <tr>
 <th>148</th>
 <td>hospital_149</td>
 <td>-38.181793</td>
 <td>144.393523</td>
 <td>The Geelong Clinic</td>
 </tr>,
 <tr>
 <th>149</th>
 <td>hospital_150</td>
 <td>-37.898939</td>
 <td>145.313303</td>
 <td>Angliss Hospital</td>
 </tr>,
 <tr>
 <th>150</th>
 <td>hospital_151</td>
 <td>-37.752662</td>
 <td>145.356559</td>
 <td>Dr David Cutting</td>
 </tr>,
 <tr>
 <th>151</th>
 <td>hospital_152</td>
 <td>-37.677208</td>
 <td>144.432348</td>

Within `bsobj_info`, we can see that `<th>` tag of the first element are all the column headers, while `<td>` tag of all other elements are all the tuples. We can extract the information accordingly.

In [12]:
html_list,header=[],[]
for i in range(len(bsobj_info)):
    #Column header row
    if i==0:
        content=bsobj_info[i].findAll('th')
        #First element is <th></th>, so remove this first element
        content.pop(0)
        for tag in content:
            #Get only the content within the tag
            result=tag.text
            header.append(result)
        html_list.append(header)
    
    #tuple rows
    else:
        tuple_list=[]
        content=bsobj_info[i].findAll('td')
        for tag in content:
            #Get only the content within the tag
            result=tag.text
            tuple_list.append(result)
        html_list.append(tuple_list)

In [13]:
#Make it into a dataframe and change column header accordingly
hospitals=DataFrame(html_list)
header=hospitals.iloc[0]  
hospitals=hospitals[1:]  #remove the first header row
hospitals.columns=header  #make the header
hospitals

,id,lat,lng,name
1,hospital_001,-37.990622,145.072836,Como Private Hospital
2,hospital_002,-37.855469,145.268183,Mountain District Private Hospital
3,hospital_003,-37.792230,144.889128,Western Hospital
4,hospital_004,-37.756042,145.061896,Mercy Hospital for Women
5,hospital_005,-37.760623,144.815624,Sunshine Hospital
...,...,...,...,...
195,hospital_195,-38.234091,146.406812,Maryvale Private Hospital
196,hospital_196,-37.837972,144.996182,South Yarra Clinic
197,hospital_197,-37.798231,144.957169,Prof George Andrew Varigos Specialist Practice
198,hospital_198,-37.910968,144.990415,Mr Harry Clitherow - Orthopaedic Surgeon
199,hospital_199,-36.100158,145.442306,Numurkah District Health Service

In [14]:
hospitals.dtypes #Change datatypes of lat and lng to appropriate datatypes

0
id      object
lat     object
lng     object
name    object
dtype: object

In [15]:
hospitals[['lat','lng']]=hospitals[['lat','lng']].astype(float)

### Load `real_estate` json file

In [17]:
with open('DataIntegration/real_state.json') as json_file:
    real_state_json=json.load(json_file)
real_state_json

[{'property_id': 31200,
  'lat': -37.754143,
  'lng': 144.990876,
  'addr_street': '37 Fyffe Street',
  'price': 3968000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 10280,
  'lat': -37.795382,
  'lng': 144.932417,
  'addr_street': '23 Hardiman Street',
  'price': 9675000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 66367,
  'lat': -37.786888,
  'lng': 145.307171,
  'addr_street': '4 Summit Court',
  'price': 5040000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 31340,
  'lat': -37.761896,
  'lng': 145.01209,
  'addr_street': '56 Clyde Street',
  'price': 14200000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 80290,
  'lat': -37.982964,
  'lng': 145.168388,
  'addr_street': '46 Kingsclere Avenue',
  'price': 9100000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 78477,
  'lat': -37.93904,
  'lng': 145.151329,
  'addr_street': '1 Glendale Road',
  'price': 4873000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 51811,
  'lat': -37.809326,
  'lng': 145.213716,
  'addr_street': '17 Glenvale Road',
  'price': 8560000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 4,
  'bathrooms': 3,
  'parking_space': 1},
 {'property_id': 96156,
  'lat': -37.904598,
  'lng': 145.032735,
  'addr_street': '7 Ocean Street',
  'price': 18620000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 3},
 {'property_id': 64996,
  'lat': -37.789893,
  'lng': 145.270476,
  'addr_street': '98A Alto Avenue',
  'price': 3740000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 5,
  'bathrooms': 2,
  'parking_space': 3},
 {'property_id': 32514,
  'lat': -37.737208,
  'lng': 145.024679,
  'addr_street': '29 Sheila Street',
  'price': 9776000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 3,
  'bathrooms': 3,
  'parking_space': 1},
 {'property_id': 46423,
  'lat': -37.695921,
  'lng': 145.17313,
  'addr_street': '103 Kalbar Road',
  'price': 12040000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 28793,
  'lat': -37.8026619,
  'lng': 144.9997864,
  'addr_street': '121 Yarra Street',
  'price': 1650000,
  'property_type': 'house',
  'year': 2008,
  'bedrooms': 2,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 11905,
  'lat': -37.721174,
  'lng': 144.822157,
  'addr_street': '62 Patterson Avenue',
  'price': 7520000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 1552,
  'lat': -37.79702759,
  'lng': 144.8906555,
  'addr_street': '98 Creswick Street',
  'price': 3888000,
  'property_type': 'house',
  'year': 2007,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 62744,
  'lat': -37.831769,
  'lng': 145.257687,
  'addr_street': '23 Danielle Crescent',
  'price': 8450000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 21555,
  'lat': -37.771103,
  'lng': 144.962534,
  'addr_street': '8 David Street',
  'price': 6360000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 39840,
  'lat': -37.692492,
  'lng': 145.056205,
  'addr_street': '17 Samuel Court',
  'price': 10050000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 93709,
  'lat': -37.993326,
  'lng': 145.069685,
  'addr_street': '8 Warrigal Road',
  'price': 16800000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 7800,
  'lat': -37.775379,
  'lng': 144.804523,
  'addr_street': '24 Sunhill Court',
  'price': 3555000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 11707,
  'lat': -37.719095,
  'lng': 144.824218,
  'addr_street': '14 Kiewa Crescent',
  'price': 5313000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 59319,
  'lat': -37.8121,
  'lng': 145.195398,
  'addr_street': '11 Burnett Street',
  'price': 13440000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 0},
 {'property_id': 5018,
  'lat': -37.868771,
  'lng': 144.817277,
  'addr_street': '2/41 Grieve Parade',
  'price': 8190000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 30081,
  'lat': -37.777095,
  'lng': 144.991783,
  'addr_street': '42 Charles Street',
  'price': 7520000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 50463,
  'lat': -37.75571823,
  'lng': 145.1256104,
  'addr_street': '1/80 Wood Street',
  'price': 7293000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 30065,
  'lat': -37.778797,
  'lng': 145.014039,
  'addr_street': '408 Clarke Street',
  'price': 14240000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 50572,
  'lat': -37.754199,
  'lng': 145.123122,
  'addr_street': '46 Atkinson Street',
  'price': 7965000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 37384,
  'lat': -37.626418,
  'lng': 145.030945,
  'addr_street': '4 Bacchus Drive',
  'price': 3780000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 2,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 72484,
  'lat': -37.8513,
  'lng': 145.259013,
  'addr_street': '57 Terama Crescent',
  'price': 3978000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 95419,
  'lat': -37.92434692,
  'lng': 145.0383301,
  'addr_street': '29 Mitchell Street',
  'price': 10142000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 3},
 {'property_id': 15749,
  'lat': -37.740505,
  'lng': 144.887479,
  'addr_street': '41 Shaw Street',
  'price': 6480000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 27526,
  'lat': -37.5961836,
  'lng': 144.9116648,
  'addr_street': '7 Ajana Drive',
  'price': 6320000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 63514,
  'lat': -37.782516,
  'lng': 145.293541,
  'addr_street': '135 Dorset Road',
  'price': 3360000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 34781,
  'lat': -37.718419,
  'lng': 144.995869,
  'addr_street': '36 Henty Street',
  'price': 5040000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 87017,
  'lat': -37.913328,
  'lng': 144.999371,
  'addr_street': '7 Bleazby Avenue',
  'price': 27450000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 4,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 66181,
  'lat': -37.760497,
  'lng': 145.318776,
  'addr_street': '3 Highleigh Court',
  'price': 8040000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 11582,
  'lat': -37.77272415,
  'lng': 144.8761597,
  'addr_street': '7 Frangipani Lane',
  'price': 10897000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 59418,
  'lat': -37.82563019,
  'lng': 145.1982575,
  'addr_street': '14 Ian Crescent',
  'price': 4590000,
  'property_type': 'house',
  'year': 2008,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 69802,
  'lat': -37.868047,
  'lng': 145.073535,
  'addr_street': '24 Keyes Street',
  'price': 9840000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 5,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 65335,
  'lat': -37.799325,
  'lng': 145.310227,
  'addr_street': '37 LOMOND AVENUE',
  'price': 13200000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 63526,
  'lat': -37.785426,
  'lng': 145.270567,
  'addr_street': '14 Arundel Street',
  'price': 5650000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 9740,
  'lat': -37.891138,
  'lng': 144.637468,
  'addr_street': '12 Edinburgh Court',
  'price': 2960000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 5,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 95688,
  'lat': -37.91142,
  'lng': 145.035987,
  'addr_street': '39 Lees Street',
  'price': 14100000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 33789,
  'lat': -37.728093,
  'lng': 144.989995,
  'addr_street': '13 York Street',
  'price': 14325000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 24401,
  'lat': -37.719616,
  'lng': 144.97347,
  'addr_street': '4/10 Derby Street',
  'price': 8385000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 62413,
  'lat': -37.825586,
  'lng': 145.226994,
  'addr_street': '96 Wantirna Road',
  'price': 11220000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 3,
  'bathrooms': 3,
  'parking_space': 1},
 {'property_id': 67628,
  'lat': -37.741814,
  'lng': 145.345167,
  'addr_street': '61 THE GATEWAY',
  'price': 5995000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 33392,
  'lat': -37.70746,
  'lng': 144.995076,
  'addr_street': '1 Wilson Boulevard',
  'price': 8204000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 67705,
  'lat': -37.74345016,
  'lng': 145.3458099,
  'addr_street': '8 Rimfire Court',
  'price': 4510000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 48746,
  'lat': -37.79921,
  'lng': 145.04579,
  'addr_street': '8 Churchill Street',
  'price': 26740000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 54965,
  'lat': -37.841775,
  'lng': 145.081607,
  'addr_street': '12 Lofty Avenue',
  'price': 3340000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 3400,
  'lat': -37.821035,
  'lng': 144.880561,
  'addr_street': '34 Bena Street',
  'price': 8177000,
  'property_type': 'house',
  'year': 2008,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 1313,
  'lat': -37.803937,
  'lng': 144.891585,
  'addr_street': '65 Windsor Street',
  'price': 12189000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 19014,
  'lat': -37.68451,
  'lng': 144.906895,
  'addr_street': '55 Lorraine Crescent',
  'price': 3830000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 83605,
  'lat': -37.851301,
  'lng': 144.985211,
  'addr_street': '19 Andrew Street',
  'price': 38220000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 39234,
  'lat': -37.75439,
  'lng': 145.035386,
  'addr_street': '52 Perkins Avenue',
  'price': 8400000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 0},
 {'property_id': 43912,
  'lat': -37.69997,
  'lng': 145.08964,
  'addr_street': '70 Meakin Street',
  'price': 6630000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 57709,
  'lat': -37.81844,
  'lng': 145.141633,
  'addr_street': '17 Whitehorse Road',
  'price': 15400000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 79148,
  'lat': -37.956087,
  'lng': 145.150106,
  'addr_street': '5 Boonah Street',
  'price': 7620000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 11953,
  'lat': -37.723117,
  'lng': 144.836294,
  'addr_street': '9 Church Street',
  'price': 12570000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 4,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 46204,
  'lat': -37.720518,
  'lng': 145.113992,
  'addr_street': '66 Para Road',
  'price': 9142000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 3},
 {'property_id': 88229,
  'lat': -37.942102,
  'lng': 145.054316,
  'addr_street': '49 Bulli Street',
  'price': 6980000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 79598,
  'lat': -37.989469,
  'lng': 145.165574,
  'addr_street': '12 Narellan Drive',
  'price': 4800000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 3},
 {'property_id': 13638,
  'lat': -37.756125,
  'lng': 144.928708,
  'addr_street': '1&2/17 Albion Street',
  'price': 11376000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 57568,
  'lat': -37.814384,
  'lng': 145.141181,
  'addr_street': '12 Elmhurst Road',
  'price': 10455000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 1},
 {'property_id': 12107,
  'lat': -37.70167542,
  'lng': 144.765564,
  'addr_street': '10 Innkeeper Place',
  'price': 4500000,
  'property_type': 'house',
  'year': 2008,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 73452,
  'lat': -37.860738,
  'lng': 145.277284,
  'addr_street': '3 Conway Court',
  'price': 16500000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 17816,
  'lat': -37.700028,
  'lng': 144.915281,
  'addr_street': '882 Pascoe Vale Road',
  'price': 7294000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 2,
  'bathrooms': 1,
  'parking_space': 0},
 {'property_id': 4671,
  'lat': -37.834214,
  'lng': 144.867257,
  'addr_street': '79 Gordon Street',
  'price': 11679000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 4,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 67433,
  'lat': -37.742127,
  'lng': 145.347825,
  'addr_street': '4 Nimblefoot Way',
  'price': 3080000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 33529,
  'lat': -37.694287,
  'lng': 144.980589,
  'addr_street': '10 Moira Avenue',
  'price': 6732000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 5219,
  'lat': -37.866076,
  'lng': 144.833015,
  'addr_street': '47 Davies Street',
  'price': 11250000,
  'property_type': 'house',
  'year': 2011,
  'bedrooms': 4,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 14922,
  'lat': -37.727211,
  'lng': 144.922728,
  'addr_street': '1 Marks Street',
  'price': 7360000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 51602,
  'lat': -37.794258,
  'lng': 145.129816,
  'addr_street': '7  Grange Park Avenue',
  'price': 15600000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 4,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 47065,
  'lat': -37.712857,
  'lng': 145.143539,
  'addr_street': '33 Stanhope Street',
  'price': 4500000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 1,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 84265,
  'lat': -37.851424,
  'lng': 145.00596,
  'addr_street': '64 Wrights Terrace',
  'price': 20640000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 0},
 {'property_id': 71592,
  'lat': -37.844652,
  'lng': 145.244934,
  'addr_street': '482 Mountain Highway',
  'price': 8400000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 5,
  'bathrooms': 2,
  'parking_space': 3},
 {'property_id': 83983,
  'lat': -37.8504748,
  'lng': 145.0060752,
  'addr_street': '4 Lorne Road',
  'price': 12240000,
  'property_type': 'house',
  'year': 2012,
  'bedrooms': 3,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 52930,
  'lat': -37.825965,
  'lng': 145.010684,
  'addr_street': '2a Moore Street',
  'price': 20740000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 58132,
  'lat': -37.830456,
  'lng': 145.142685,
  'addr_street': '44 Malcolm Street',
  'price': 14400000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 4,
  'bathrooms': 1,
  'parking_space': 3},
 {'property_id': 13019,
  'lat': -37.69558,
  'lng': 144.751677,
  'addr_street': '35 Catherine Drive',
  'price': 3510000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 3,
  'bathrooms': 2,
  'parking_space': 2},
 {'property_id': 89815,
  'lat': -37.969634,
  'lng': 145.041636,
  'addr_street': '10 Fairway Avenue',
  'price': 34850000,
  'property_type': 'house',
  'year': 2016,
  'bedrooms': 4,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 32738,
  'lat': -37.734917,
  'lng': 144.984537,
  'addr_street': '4 Second Court',
  'price': 5400000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 38560,
  'lat': -37.764002,
  'lng': 145.031033,
  'addr_street': '114 Green Street',
  'price': 18120000,
  'property_type': 'house',
  'year': 2015,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 18785,
  'lat': -37.666496,
  'lng': 144.944512,
  'addr_street': '383 Barry Road',
  'price': 4050000,
  'property_type': 'house',
  'year': 2013,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 1},
 {'property_id': 68591,
  'lat': -37.85518265,
  'lng': 145.0116119,
  'addr_street': '562 Orrong Road',
  'price': 9540000,
  'property_type': 'house',
  'year': 2009,
  'bedrooms': 5,
  'bathrooms': 2,
  'parking_space': 0},
 {'property_id': 55531,
  'lat': -37.837535,
  'lng': 145.088089,
  'addr_street': '32 Lockhart Street',
  'price': 13560000,
  'property_type': 'house',
  'year': 2010,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 69389,
  'lat': -37.863049,
  'lng': 145.094054,
  'addr_street': '1/2 George Street',
  'price': 6570000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 3,
  'bathrooms': 1,
  'parking_space': 2},
 {'property_id': 87810,
  'lat': -37.936336,
  'lng': 145.019276,
  'addr_street': '52 Teddington Road',
  'price': 22080000,
  'property_type': 'house',
  'year': 2014,
  'bedrooms': 5,
  'bathrooms': 3,
  'parking_space': 2},
 {'property_id': 23874,
  'lat': -37.700742,
  'lng': 144.969853,
  'addr_street': '1/43 Denys Street',
  'price': 5600000,

In [18]:
#Convert to dataframe
real_state_json=json_normalize(real_state_json)
real_state_json.head()

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,property_id,lat,lng,addr_street,price,property_type,year,bedrooms,bathrooms,parking_space
0,31200,-37.754143,144.990876,37 Fyffe Street,3968000,house,2009,2,1,0
1,10280,-37.795382,144.932417,23 Hardiman Street,9675000,house,2011,2,1,0
2,66367,-37.786888,145.307171,4 Summit Court,5040000,house,2014,4,2,2
3,31340,-37.761896,145.012090,56 Clyde Street,14200000,house,2014,4,1,2
4,80290,-37.982964,145.168388,46 Kingsclere Avenue,9100000,house,2015,4,2,1

In [19]:
real_state_json.dtypes  #Correct datatypes

property_id        int64
lat              float64
lng              float64
addr_street       object
price              int64
property_type     object
year               int64
bedrooms           int64
bathrooms          int64
parking_space      int64
dtype: object

### Load `real_state` xml file

In [20]:
myfile=[]
#Read the XML file
with open('DataIntegration/real_state.xml','r') as file:
    #Read each line in the file, readlines() returns a list of lines
    readfile=file.readlines()
    #Combine the lines in the list into a string
    myfile=''.join(readfile)
    real_state_xml=BeautifulSoup(myfile,'lxml')

In [21]:
#Take a look at the prettified version of the xml file
print(real_state_xml.prettify())

<html>
 <body>
  <p>
   b'
   <?xml version="1.0" encoding="UTF-8" ?>
   <root>
    <property_id type="dict">
     <n16867 type="int">
      17402
     </n16867>
     <n16384 type="int">
      16919
     </n16384>
     <n5935 type="int">
      5956
     </n5935>
     <n29022 type="int">
      29557
     </n29022>
     <n42455 type="int">
      42990
     </n42455>
     <n84948 type="int">
      85483
     </n84948>
     <n89564 type="int">
      90099
     </n89564>
     <n23760 type="int">
      24295
     </n23760>
     <n23033 type="int">
      23568
     </n23033>
     <n44518 type="int">
      45053
     </n44518>
     <n25114 type="int">
      25649
     </n25114>
     <n11627 type="int">
      12142
     </n11627>
     <n11575 type="int">
      12090
     </n11575>
     <n78577 type="int">
      79112
     </n78577>
     <n35831 type="int">
      36366
     </n35831>
     <n58512 type="int">
      59047
     </n58512>
     <n44423 type="int">
      44958
     </n44423>
     <n70998 type="int">
      71533
     </n70998>
     <n655 type="int">
      659
     </n655>
     <n29133 type="int">
      29668
     </n29133>
     <n41600 type="int">
      42135
     </n41600>
     <n50615 type="int">
      51150
     </n50615>
     <n89254 type="int">
      89789
     </n89254>
     <n2864 type="int">
      2885
     </n2864>
     <n8267 type="int">
      8288
     </n8267>
     <n29579 type="int">
      30114
     </n29579>
     <n9140 type="int">
      9161
     </n9140>
     <n88811 type="int">
      89346
     </n88811>
     <n93908 type="int">
      94443
     </n93908>
     <n96227 type="int">
      96762
     </n96227>
     <n90755 type="int">
      91290
     </n90755>
     <n6901 type="int">
      6922
     </n6901>
     <n58050 type="int">
      58585
     </n58050>
     <n58652 type="int">
      59187
     </n58652>
     <n76073 type="int">
      76608
     </n76073>
     <n41910 type="int">
      42445
     </n41910>
     <n6108 type="int">
      6129
     </n6108>
     <n6016 type="int">
      6037
     </n6016>
     <n3337 type="int">
      3358
     </n3337>
     <n50670 type="int">
      51205
     </n50670>
     <n8274 type="int">
      8295
     </n8274>
     <n5098 type="int">
      5119
     </n5098>
     <n5771 type="int">
      5792
     </n5771>
     <n25483 type="int">
      26018
     </n25483>
     <n20070 type="int">
      20605
     </n20070>
     <n43750 type="int">
      44285
     </n43750>
     <n50655 type="int">
      51190
     </n50655>
     <n72371 type="int">
      72906
     </n72371>
     <n36448 type="int">
      36983
     </n36448>
     <n13906 type="int">
      14427
     </n13906>
     <n77511 type="int">
      78046
     </n77511>
     <n85675 type="int">
      86210
     </n85675>
     <n19057 type="int">
      19592
     </n19057>
     <n79972 type="int">
      80507
     </n79972>
     <n36630 type="int">
      37165
     </n36630>
     <n31119 type="int">
      31654
     </n31119>
     <n40317 type="int">
      40852
     </n40317>
     <n36660 type="int">
      37195
     </n36660>
     <n5416 type="int">
      5437
     </n5416>
     <n3952 type="int">
      3973
     </n3952>
     <n27976 type="int">
      28511
     </n27976>
     <n7124 type="int">
      7145
     </n7124>
     <n115 type="int">
      115
     </n115>
     <n41393 type="int">
      41928
     </n41393>
     <n58686 type="int">
      59221
     </n58686>
     <n83173 type="int">
      83708
     </n83173>
     <n15597 type="int">
      16132
     </n15597>
     <n2389 type="int">
      2410
     </n2389>
     <n54232 type="int">
      54767
     </n54232>
     <n69545 type="int">
      70080
     </n69545>
     <n14891 type="int">
      15426
     </n14891>
     <n24088 type="int">
      24623
     </n24088>
     <n23846 type="int">
      24381
     </n23846>
     <n22031 type="int">
      22566
     </n22031>
     <n32429 type="int">
      32964
     </n32429>
     <n4398 type="int">
      4419
     </n4398>
     <n61770 type="int">
      62305
     </n61770>
     <n13380 type="int">
      13896
     </n13380>
     <n5137 type="int">
      5158
     </n5137>
     <n9609 type="int">
      9630
     </n9609>
     <n66162 type="int">
      66697
     </n66162>
     <n31196 type="int">
      31731
     </n31196>
     <n28546 type="int">
      29081
     </n28546>
     <n16293 type="int">
      16828
     </n16293>
     <n408 type="int">
      410
     </n408>
     <n55938 type="int">
      56473
     </n55938>
     <n16550 type="int">
      17085
     </n16550>
     <n7215 type="int">
      7236
     </n7215>
     <n67747 type="int">
      68282
     </n67747>
     <n59824 type="int">
      60359
     </n59824>
     <n24079 type="int">
      24614
     </n24079>
     <n65400 type="int">
      65935
     </n65400>
     <n57045 type="int">
      57580
     </n57045>
     <n6373 type="int">
      6394
     </n6373>
     <n3950 type="int">
      3971
     </n3950>
     <n61704 type="int">
      62239
     </n61704>
     <n12023 type="int">
      12538
     </n12023>
     <n81827 type="int">
      82362
     </n81827>
     <n5312 type="int">
      5333
     </n5312>
     <n12988 type="int">
      13503
     </n12988>
     <n86240 type="int">
      86775
     </n86240>
     <n85142 type="int">
      85677
     </n85142>
     <n47251 type="int">
      47786
     </n47251>
     <n56890 type="int">
      57425
     </n56890>
     <n60337 type="int">
      60872
     </n60337>
     <n44220 type="int">
      44755
     </n44220>
     <n51322 type="int">
      51857
     </n51322>
     <n47270 type="int">
      47805
     </n47270>
     <n63359 type="int">
      63894
     </n63359>
     <n56373 type="int">
      56908
     </n56373>
     <n29421 type="int">
      29956
     </n29421>
     <n94762 type="int">
      95297
     </n94762>
     <n49703 type="int">
      50238
     </n49703>
     <n1685 type="int">
      1695
     </n1685>
     <n83442 type="int">
      83977
     </n83442>
     <n42268 type="int">
      42803
     </n42268>
     <n44828 type="int">
      45363
     </n44828>
     <n7099 type="int">
      7120
     </n7099>
     <n13107 type="int">
      13622
     </n13107>
     <n18865 type="int">
      19400
     </n18865>
     <n25904 type="int">
      26439
     </n25904>
     <n35807 type="int">
      36342
     </n35807>
     <n55469 type="int">
      56004
     </n55469>
     <n30 type="int">
      30
     </n30>
     <n71978 type="int">
      72513
     </n71978>
     <n43650 type="int">
      44185
     </n43650>
     <n91331 type="int">
      91866
     </n91331>
     <n34750 type="int">
      35285
     </n34750>
     <n69797 type="int">
      70332
     </n69797>
     <n34350 type="int">
      34885
     </n34350>
     <n974 type="int">
      979
     </n974>
     <n44174 type="int">
      44709
     </n44174>
     <n43080 type="int">
      43615
     </n43080>
     <n838 type="int">
      843
     </n838>
     <n19285 type="int">
      19820
     </n19285>
     <n48290 type="int">
      48825
     </n48290>
     <n48705 type="int">
      49240
     </n48705>
     <n91669 type="int">
      92204
     </n91669>
     <n83203 type="int">
      83738
     </n83203>
     <n52554 type="int">
      53089
     </n52554>
     <n32912 type="int">
      33447
     </n32912>
     <n66662 type="int">
      67197
     </n66662>
     <n73345 type="int">
      73880
     </n73345>
     <n3009 type="int">
      3030
     </n3009>
     <n42265 type="int">
      42800
     </n42265>
     <n2467 type="int">
      2488
     </n2467>
     <n86235 type="int">
      86770
     </n86235>
     <n94630 type="int">
      95165
     </n94630>
     <n39185 type="int">
      39720
     </n39185>
     <n34041 type="int">
      34576
     </n34041>
     <n37561 type="int">
      38096
     </n37561>
     <n33040 type="int">
      33575
     </n33040>
     <n40424 type="int">
      40959
     </n40424>
     <n16206 type="int">
      16741
     </n16206>
     <n69322 type="int">
      69857
     </n69322>
     <n36416 type="int">
      36951
     </n36416>
     <n59603 type="int">
      60138
     </n59603>
     <n65718 type="int">
      66253
     </n65718>
     <n44471 type="int">
      45006
     </n44471>
     <n72140 type="int">
      72675
     </n72140>
     <n67455 type="int">
      67990
     </n67455>
     <n41516 type="int">
      42051
     </n41516>
     <n26501 type="int">
      27036
     </n26501>
     <n77924 type="int">
      78459
     </n77924>
     <n37220 type="int">
      37755
     </n37220>
     <n89638 type="int">
      90173
     </n89638>
     <n15781 type="int">
      16316
     </n15781>
     <n79954 type="int">
      80489
     </n79954>
     <n72808 type="int">
      73343
     </n72808>
     <n66363 type="int">
      66898
     </n66363>
     <n68434 type="int">
      68969
     </n68434>
     <n66972 type="int">
      67507
     </n66972>
     <n49636 type="int">
      50171
     </n49636>
     <n8168 type="int">
      8189
     </n8168>
     <n27374 type="int">
      27909
     </n27374>
     <n91059 type="int">
      91594
     </n91059>
     <n59946 type="int">
      60481
     </n59946>
     <n14717 type="int">
      15252
     </n14717>
     <n6460 type="int">
      6481
     </n6460>
     <n91921 type="int">
      92456
     </n91921>
     <n8858 type="int">
      8879
     </n8858>
     <n161 type="int">
      162
     </n161>
     <n16341 type="int">
      16876
     </n16341>
     <n61338 type="int">
      61873
     </n61338>
     <n89664 type="int">
      90199
     </n89664>
     <n64218 type="int">
      64753
     </n64218>
     <n32501 type="int">
      33036
     </n32501>
     <n6045 type="int">
      6066
     </n6045>
     <n56194 type="int">
      56729
     </n56194>
     <n70722 type="int">
      71257
     </n70722>
     <n15522 type="int">
      16057
     </n15522>
     <n73891 type="int">
      74426
     </n73891>
     <n53257 type="int">
      53792
     </n53257>
     <n27790 type="int">
      28325
     </n27790>
     <n6588 type="int">
      6609
     </n6588>
     <n68481 type="int">
      69016
     </n68481>
     <n16057 type="int">
      16592
     </n16057>
     <n21844 type="int">
      22379
     </n21844>
     <n28934 type="int">
      29469
     </n28934>
     <n45649 type="int">
      46184
     </n45649>
     <n74584 type="int">
      75119
     </n74584>
     <n49779 type="int">
      50314
     </n49779>
     <n67820 type="int">
      68355
     </n67820>
     <n9837 type="int">
      9858
     </n9837>
     <n8157 type="int">
      8178
     </n8157>
     <n57082 type="int">
      57617
     </n57082>
     <n14748 type="int">
      15283
     </n14748>
     <n87215 type="int">
      87750
     </n87215>
     <n83163 type="int">
      83698
     </n83163>
     <n50675 type="int">
      51210
     </n50675>
     <n75426 type="int">
      75961
     </n75426>
     <n19300 type="int">
      19835
     </n19300>
     <n81570 type="int">
      82105
     </n81570>
     <n56619 type="int">
      57154
     </n56619>
     <n22062 type="int">
      22597
     </n22062>
     <n12026 type="int">
      12541
     </n12026>
     <n12286 type="int">
      12801
     </n12286>
     <n45866 type="int">
      46401
     </n45866>
     <n25662 type="int">
      26197
     </n25662>
     <n48036 type="int">
      48571
     </n48036>
     <n82968 type="int">
      83503
     </n82968>
     <n93665 type="int">
      94200
     </n93665>
     <n15656 type="int">
      16191
     </n15656>
     <n25602 type="int">
      26137
     </n25602>
     <n33506 type="int">
      34041
     </n33506>
     <n93830 type="int">
      94365
     </n93830>
     <n90601 type="int">
      91136
     </n90601>
     <n60544 type="int">
      61079
     </n60544>
     <n16744 type="int">
      17279
     </n16744>
     <n51356 type="int">
      51891
     </n51356>
     <n61022 type="int">
      61557
     </n61022>
     <n78563 type="int">
      79098
     </n78563>
     <n52543 type="int">
      53078
     </n52543>
     <n42206 type="int">
      42741
     </n42206>
     <n76143 type="int">
      76678
     </n76143>
     <n64269 type="int">
      64804
     </n64269>
     <n77149 type="int">
      77684
     </n77149>
     <n4206 type="int">
      4227
     </n4206>
     <n80634 type="int">
      81169
     </n80634>
     <n73151 type="int">
      73686
     </n73151>
     <n69835 type="int">
      70370
     </n69835>
     <n52649 type="int">
      53184
     </n52649>
     <n82840 type="int">
      83375
     </n82840>
     <n87273 type="int">
      87808
     </n87273>
     <n53906 type="int">
      54441
     </n53906>
     <n9613 type="int">
      9634
     </n9613>
     <n48543 type="int">
      49078
     </n48543>
     <n93499 type="int">
      94034
     </n93499>
     <n76049 type="int">
      76584
     </n76049>
     <n24448 type="int">
      24983
     </n24448>
     <n35914 type="int">
      36449
     </n35914>
     <n47687 type="int">
      48222
     </n47687>
     <n56329 type="int">
      56864
     </n56329>
     <n4927 type="int">
      4948
     </n4927>
     <n28530 type="int">
      29065
     </n28530>
     <n82847 type="int">
      83382
     </n82847>
     <n59754 type="int">
      60289
     </n59754>
     <n39125 type="int">
      39660
     </n39125>
     <n25746 type="int">
      26281
     </n25746>
     <n96497 type="int">
      97032
     </n96497>
     <n6738 type="int">
      6759
     </n6738>
     <n23995 type="int">
      24530
     </n23995>
     <n12965 type="int">
      13480
     </n12965>
     <n50367 type="int">
      50902
     </n50367>
     <n68059 type="int">
      68594
     </n68059>
     <n18090 type="int">
      18625
     </n18090>
     <n56629 type="int">
      57164
     </n56629>
     <n89499 type="int">
      90034
     </n89499>
     <n67835 type="int">
      68370
     </n67835>
     <n23551 type="int">
      24086
     </n23551>
     <n62924 type="int">
      63459
     </n62924>
     <n16522 type="int">
      17057
     </n16522>
     <n45157 type="int">
      45692
     </n45157>
     <n21137 type="int">
      21672
     </n21137>
     <n88670 type="int">
      89205
     </n88670>
     <n25012 type="int">
      25547
     </n25012>
     <n77717 type="int">
      78252
     </n77717>
     <n7948 type="int">
      7969
     </n7948>
     <n3844 type="int">
      3865
     </n3844>
     <n53082 type="int">
      53617
     </n53082>
     <n22203 type="int">
      22738
     </n22203>
     <n89965 type="int">
      90500
     </n89965>
     <n39324 type="int">
      39859
     </n39324>
     <n49316 type="int">
      49851
     </n49316>
     <n1635 type="int">
      1644
     </n1635>
     <n60081 type="int">
      60616
     </n60081>
     <n33930 type="int">
      34465
     </n33930>
     <n31642 type="int">
      32177
     </n31642>
     <n92049 type="int">
      92584
     </n92049>
     <n34166 type="int">
      34701
     </n34166>
     <n82178 type="int">
      82713
     </n82178>
     <n57244 type="int">
      57779
     </n57244>
     <n65349 type="int">
      65884
     </n65349>
     <n49879 type="int">
      50414
     </n49879>
     <n9522 type="int">
      9543
     </n9522>
     <n70892 type="int">
      71427
     </n70892>
     <n83014 type="int">
      83549
     </n83014>
     <n67026 type="int">
      67561
     </n67026>
     <n34338 type="int">
      34873
     </n34338>
     <n78932 type="int">
      79467
     </n78932>
     <n5951 type="int">
      5972
     </n5951>
     <n32264 type="int">
      32799
     </n32264>
     <n75026 type="int">
      75561
     </n75026>
     <n55060 type="int">
      55595
     </n55060>
     <n36580 type="int">
      37115
     </n36580>
     <n58911 type="int">
      59446
     </n58911>
     <n94924 type="int">
      95459
     </n94924>
     <n91757 type="int">
      92292
     </n91757>
     <n12741 type="int">
      13256
     </n12741>
     <n56332 type="int">
      56867
     </n56332>
     <n70162 type="int">
      70697
     </n70162>
     <n94127 type="int">
      94662
     </n94127>
     <n52970 type="int">
      53505
     </n52970>
     <n79253 type="int">
      79788
     </n79253>
     <n52050 type="int">
      52585
     </n52050>
     <n62007 type="int">
      62542
     </n62007>
     <n8150 type="int">
      8171
     </n8150>
     <n85217 type="int">
      85752
     </n85217>
     <n79406 type="int">
      79941
     </n79406>
     <n81723 type="int">
      82258
     </n81723>
     <n37627 type="int">
      38162
     </n37627>
     <n31479 type="int">
      32014
     </n31479>
     <n23793 type="int">
      24328
     </n23793>
     <n66906 type="int">
      67441
     </n66906>
     <n54773 type="int">
      55308
     </n54773>
     <n29815 type="int">
      30350
     </n29815>
     <n57414 type="int">
      57949
     </n57414>
     <n58255 type="int">
      58790
     </n58255>
     <n84432 type="int">
      84967
     </n84432>
     <n92137 type="int">
      92672
     </n92137>
     <n65765 type="int">
      66300
     </n65765>
     <n17931 type="int">
      18466
     </n17931>
     <n95978 type="int">
      96513
     </n95978>
     <n48764 type="int">
      49299
     </n48764>
     <n78091 type="int">
      78626
     </n78091>
     <n92518 type="int">
      93053
     </n92518>
     <n16933 type="int">
      17468
     </n16933>
     <n84825 type="int">
      85360
     </n84825>
     <n90103 type="int">
      90638
     </n90103>
     <n51184 type="int">
      51719
     </n51184>
     <n33423 type="int">
      33958
     </n33423>
     <n79961 type="int">
      80496
     </n79961>
     <n60597 type="int">
      61132
     </n60597>
     <n96322 type="int">
      96857
     </n96322>
     <n94602 type="int">
      95137
     </n94602>
     <n80935 type="int">
      81470
     </n80935>
     <n55452 type="int">
      55987
     </n55452>
     <n88128 type="int">
      88663
     </n88128>
     <n92928 type="int">
      93463
     </n92928>
     <n47721 type="int">
      48256
     </n47721>
     <n44918 type="int">
      45453
     </n44918>
     <n15571 type="int">
      16106
     </n15571>
     <n1501 type="int">
      1508
     </n1501>
     <n93925 type="int">
      94460
     </n93925>
     <n618 type="int">
      621
     </n618>
     <n8424 type="int">
      8445
     </n8424>
     <n92742 type="int">
      93277
     </n92742>
     <n18526 type="int">
      19061
     </n18526>
     <n47230 type="int">
      47765
     </n47230>
     <n85406 type="int">
      85941
     </n85406>
     <n88412 type="int">
      88947
     </n88412>
     <n28274 type="int">
      28809
     </n28274>
     <n61033 type="int">
      61568
     </n61033>
     <n22181 type="int">
      22716
     </n22181>
     <n6810 type="int">
      6831
     </n6810>
     <n41174 type="int">
      41709
     </n41174>
     <n64144 type="int">
      64679
     </n64144>
     <n6112 type="int">
      6133
     </n6112>
     <n60853 type="int">
      61388
     </n60853>
     <n28087 type="int">
      28622
     </n28087>
     <n71915 type="int">
      72450
     </n71915>
     <n58323 type="int">
      58858
     </n58323>
     <n21203 type="int">
      21738
     </n21203>
     <n9404 type="int">
      9425
     </n9404>
     <n3206 type="int">
      3227
     </n3206>
     <n21522 type="int">
      22057
     </n21522>
     <n66992 type="int">
      67527
     </n66992>
     <n19386 type="int">
      19921
     </n19386>
     <n85259 type="int">
      85794
     </n85259>
     <n5184 type="int">
      5205
     </n5184>
     <n54435 type="int">
      54970
     </n54435>
     <n16129 type="int">
      16664
     </n16129>
     <n50833 type="int">
      51368
     </n50833>
     <n6616 type="int">
      6637
     </n6616>
     <n15355 type="int">
      15890
     </n15355>
     <n54628 type="int">
      55163
     </n54628>

In [22]:
#Get property_id tag
property_id=real_state_xml.find('property_id')

#Get all the property id
property_id_list=[]
for i in property_id:
    result=i.text
    property_id_list.append(result)

In [23]:
#Get lat tag
lat=real_state_xml.find('lat')
#Get all the lat values
lat_list=[]
for i in lat:
    result=i.text
    lat_list.append(result)

In [24]:
#Get lng tag
lng=real_state_xml.find('lng')
#Get all the lng values
lng_list=[]
for i in lng:
    result=i.text
    lng_list.append(result)

In [25]:
#Get addr_street tag
address=real_state_xml.find('addr_street')
#Get all the addr_street values
address_list=[]
for i in address:
    result=i.text
    address_list.append(result)

In [26]:
#Get price tag
price=real_state_xml.find('price')
#Get all the price values
price_list=[]
for i in price:
    result=i.text
    price_list.append(result)

In [27]:
#Get property_type tag
property_type=real_state_xml.find('property_type')
#Get all the property_type values
property_type_list=[]
for i in property_type:
    result=i.text
    property_type_list.append(result)

In [28]:
#Get year tag
year=real_state_xml.find('year')
#Get all the year values
year_list=[]
for i in year:
    result=i.text
    year_list.append(result)

In [29]:
#Get bedrooms tag
bedrooms=real_state_xml.find('bedrooms')
#Get all the bedrooms values
bedrooms_list=[]
for i in bedrooms:
    result=i.text
    bedrooms_list.append(result)

In [30]:
#Get bathrooms tag
bathrooms=real_state_xml.find('bathrooms')
#Get all the bathrooms values
bathrooms_list=[]
for i in bathrooms:
    result=i.text
    bathrooms_list.append(result)

In [31]:
#Get parking space tag
parking_space=real_state_xml.find('parking_space')
#Get all the parking_space values
parking_space_list=[]
for i in parking_space:
    result=i.text
    parking_space_list.append(result)

In [32]:
#Join all the lists into a dataframe
real_state_xml=pd.DataFrame(
    {'Property_id':property_id_list,
     'lat':lat_list,
     'lng':lng_list,
     'addr_street':address_list,
     'price':price_list,
     'property_type':property_type_list,
     'year':year_list,
     'bedrooms':bedrooms_list,
     'bathrooms':bathrooms_list,
     'parking_space':parking_space_list
    })
real_state_xml.head()

,Property_id,lat,lng,addr_street,price,property_type,year,bedrooms,bathrooms,parking_space
0,17402,-37.71226501,144.9121552,52 Stanley Street,5300000,house,2009,4,2,1
1,16919,-37.702736,144.947733,26 Hilton Street,5844000,house,2011,2,1,1
2,5956,-37.780454,144.839847,1 Osbert Street,5908000,house,2016,3,1,1
3,29557,-37.778578,144.999559,17 Plant Street,7794000,house,2010,2,1,1
4,42990,-37.7242012,145.1026001,23 Bimbadeen Crescent,5320000,house,2009,4,1,2

In [33]:
real_state_xml.dtypes
#Incorrect datatypes, need to change

Property_id      object
lat              object
lng              object
addr_street      object
price            object
property_type    object
year             object
bedrooms         object
bathrooms        object
parking_space    object
dtype: object

In [34]:
real_state_xml[['Property_id', 'price','year','bedrooms','bathrooms','parking_space']] = real_state_xml[['Property_id',
                                        'price','year','bedrooms','bathrooms','parking_space']].astype(int)

In [35]:
real_state_xml[['lat', 'lng']]=real_state_xml[['lat', 'lng']].astype(float)

### Load `supermarkets` pdf file

In [37]:
#Using read_pdf from tabula package, extract the portion of the table from each page
supermarkets_1=read_pdf('DataIntegration/supermarkets.pdf',pages='all')[0]
supermarkets_2=read_pdf('DataIntegration/supermarkets.pdf',pages='all')[1]
supermarkets_3=read_pdf('DataIntegration/supermarkets.pdf',pages='all')[2]
supermarkets_4=read_pdf('DataIntegration/supermarkets.pdf',pages='all')[3]
supermarkets_5=read_pdf('DataIntegration/supermarkets.pdf',pages='all')[4]

In [38]:
#Concatenate all different portions, to form a complete table, and drop unneccesary columns
supermarkets=pd.concat([supermarkets_1,supermarkets_2,supermarkets_3,supermarkets_4,supermarkets_5],ignore_index=True)
supermarkets=supermarkets.drop(columns=['Unnamed: 0'])
supermarkets

        id        lat         lng        type
0    S_001 -37.883978  144.735287  Woolworths
1    S_002 -41.161591  147.514797  Woolworths
2    S_003 -37.984078  145.077167  Woolworths
3    S_004 -37.707023  144.938740  Woolworths
4    S_005 -37.597670  144.938413  Woolworths
..     ...        ...         ...         ...
234  S_235 -37.860188  145.028920       Coles
235  S_236 -37.875984  144.614490       Coles
236  S_237 -37.047330  143.744610       Coles
237  S_238 -38.351648  144.922881       Coles
238  S_239 -36.766586  144.292080       Coles

[239 rows x 4 columns]

### Load `GTFS` text files

In [39]:
#Check all the text files in the GTFS data file
os.listdir('GTFS_MelbourneTrainInformation')

['agency.txt',
 'calendar.txt',
 'calendar_dates.txt',
 'routes.txt',
 'shapes.txt',
 'stops.txt',
 'stop_times.txt',
 'trips.txt']

In [40]:
#Load agency text file
agency=pd.read_csv('GTFS_MelbourneTrainInformation/agency.txt',sep=',')
agency

,agency_id,agency_name,agency_url,agency_timezone,agency_lang
0,1,PTV,http://www.ptv.vic.gov.au,Australia/Melbourne,EN

In [41]:
#Load calendar text file
calendar=pd.read_csv('GTFS_MelbourneTrainInformation/calendar.txt',sep=',')
calendar

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,T2,0,0,0,0,0,1,0,20151009,20151011
1,UJ,0,0,0,0,0,0,1,20151009,20151011
2,T6,0,0,0,0,1,0,0,20151009,20151011
3,T5,1,1,1,1,0,0,0,20151012,20151015
4,T2_1,0,0,0,0,0,1,0,20151016,20151018
5,UJ_1,0,0,0,0,0,0,1,20151016,20151018
6,T6_1,0,0,0,0,1,0,0,20151016,20151018
7,T5_1,1,1,1,1,0,0,0,20151019,20151022
8,T0,1,1,1,1,1,0,0,20151023,20151122
9,T2_2,0,0,0,0,0,1,0,20151023,20151122
10,UJ_2,0,0,0,0,0,0,1,20151023,20151122
11,T0+a6,0,0,0,0,1,0,0,20151023,20151122
12,T0+a5,1,1,1,1,0,0,0,20151023,20151122
13,T5+tg,1,1,0,0,0,0,0,20151012,20151015
14,T5+ph,0,0,1,1,0,0,0,20151012,20151015
15,T5+tg_1,1,1,0,0,0,0,0,20151019,20151022
16,T5+ph_1,0,0,1,1,0,0,0,20151019,20151022
17,T5+ao,1,0,0,0,0,0,0,20151012,20151015
18,T5+ta,0,1,1,1,0,0,0,20151012,20151015

In [42]:
#Load calendar text file
calendar_dates=pd.read_csv('GTFS_MelbourneTrainInformation/calendar_dates.txt',sep=',')
calendar_dates

  service_id      date  exception_type
0         T0  20151103               2
1      T0+a5  20151103               2

In [43]:
#Load routes text file
routes=pd.read_csv('GTFS_MelbourneTrainInformation/routes.txt',sep=',')
routes

,route_id,agency_id,route_short_name,route_long_name,route_type
0,2-ALM-B-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
1,2-ALM-C-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
2,2-ALM-D-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
3,2-ALM-E-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
4,2-ALM-F-mjp-1,1,Alamein,Alamein - City (Flinders Street),2
...,...,...,...,...,...
76,2-WMN-B-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
77,2-WMN-C-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
78,2-WMN-D-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
79,2-WMN-E-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2
80,2-WMN-F-mjp-1,1,Williamstown,Williamstown - City (Flinders Street),2

In [45]:
#Load shapes text file
shapes_txt=pd.read_csv('GTFS_MelbourneTrainInformation/shapes.txt',sep=',')
shapes_txt

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,2-ain-mjp-1.1.H,-37.818631,144.951994,1,0.000000
1,2-ain-mjp-1.1.H,-37.817425,144.951050,2,157.543645
2,2-ain-mjp-1.1.H,-37.817241,144.950828,3,185.827916
3,2-ain-mjp-1.1.H,-37.816327,144.950047,4,308.469671
4,2-ain-mjp-1.1.H,-37.816127,144.949950,5,332.239399
...,...,...,...,...,...
339706,2-WMN-F-mjp-1.6.R,-37.864271,144.895021,17,2655.879090
339707,2-WMN-F-mjp-1.6.R,-37.864818,144.896370,18,2789.160747
339708,2-WMN-F-mjp-1.6.R,-37.867094,144.903228,19,3443.379365
339709,2-WMN-F-mjp-1.6.R,-37.867382,144.904208,20,3535.406535
339710,2-WMN-F-mjp-1.6.R,-37.867753,144.905323,21,3641.811422

In [46]:
#Load stops text file
stops=pd.read_csv('GTFS_MelbourneTrainInformation/stops.txt',sep=',')
stops

,stop_id,stop_name,stop_short_name,stop_lat,stop_lon
0,15351,Sunbury Railway Station,Sunbury,-37.579091,144.727319
1,15353,Diggers Rest Railway Station,Diggers Rest,-37.627017,144.719922
2,19827,Stony Point Railway Station,Crib Point,-38.374235,145.221837
3,19828,Crib Point Railway Station,Crib Point,-38.366123,145.204043
4,19829,Morradoo Railway Station,Crib Point,-38.354033,145.189602
...,...,...,...,...,...
213,44817,Coolaroo Railway Station,Coolaroo,-37.661003,144.926056
214,45793,Lynbrook Railway Station,Lynbrook,-38.057341,145.249275
215,45794,Cardinia Road Railway Station,Pakenham,-38.071290,145.437791
216,45795,South Morang Railway Station,South Morang,-37.649159,145.067032
217,46468,Williams Landing Railway Station,Williams Landing,-37.869865,144.747445

In [47]:
#Load stop_times text file
stop_times=pd.read_csv('GTFS_MelbourneTrainInformation/stop_times.txt',sep=',')
stop_times

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,17182517.T2.2-ALM-B-mjp-1.1.H,04:57:00,04:57:00,19847,1,NaN,0,0,0.000000
1,17182517.T2.2-ALM-B-mjp-1.1.H,04:58:00,04:58:00,19848,2,NaN,0,0,723.017818
2,17182517.T2.2-ALM-B-mjp-1.1.H,05:00:00,05:00:00,19849,3,NaN,0,0,1951.735072
3,17182517.T2.2-ALM-B-mjp-1.1.H,05:02:00,05:02:00,19850,4,NaN,0,0,2899.073349
4,17182517.T2.2-ALM-B-mjp-1.1.H,05:04:00,05:04:00,19851,5,NaN,0,0,3927.090952
...,...,...,...,...,...,...,...,...,...
390300,17199140.UJ.2-ain-mjp-1.4.R,18:09:00,18:09:00,20028,1,NaN,0,0,0.000000
390301,17199140.UJ.2-ain-mjp-1.4.R,18:15:00,18:15:00,19973,4,NaN,0,0,4011.161109
390302,17199140.UJ.2-ain-mjp-1.4.R,18:19:00,18:19:00,22180,5,NaN,0,0,5676.741894
390303,17199142.T2.2-ain-mjp-1.5.R,24:00:00,24:00:00,20027,1,NaN,0,0,0.000000
390304,17199142.T2.2-ain-mjp-1.5.R,24:15:00,24:15:00,19854,7,NaN,0,0,8069.393087

In [48]:
#Load trips text file
trips=pd.read_csv('GTFS_MelbourneTrainInformation/trips.txt',sep=',')
trips

,route_id,service_id,trip_id,shape_id,trip_headsign,direction_id
0,2-ALM-F-mjp-1,T0,17067982.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
1,2-ALM-F-mjp-1,T0,17067988.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
2,2-ALM-F-mjp-1,T0,17067992.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
3,2-ALM-F-mjp-1,T0,17067999.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
4,2-ALM-F-mjp-1,T0,17068003.T0.2-ALM-F-mjp-1.1.H,2-ALM-F-mjp-1.1.H,City (Flinders Street),0
...,...,...,...,...,...,...
23804,2-WMN-F-mjp-1,UJ_2,17072252.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23805,2-WMN-F-mjp-1,UJ_2,17072256.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23806,2-WMN-F-mjp-1,UJ_2,17072260.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23807,2-WMN-F-mjp-1,UJ_2,17072264.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1
23808,2-WMN-F-mjp-1,UJ_2,17072268.UJ.2-WMN-F-mjp-1.6.R,2-WMN-F-mjp-1.6.R,Williamstown,1

### Load `vic_suburb_boundary` shape files

In [49]:
sf=shapefile.Reader("vic_suburb_boundary/VIC_LOCALITY_POLYGON_shp") 
recs=sf.records()
shapes=sf.shapes()
recs

[Record #0: ['6670', datetime.date(2011, 8, 31), None, 'VIC2615', datetime.date(2012, 4, 27), None, 'UNDERBOOL', '', '', 'G', None, '2'],
 Record #1: ['6671', datetime.date(2011, 8, 31), None, 'VIC1986', datetime.date(2012, 4, 27), None, 'NURRAN', '', '', 'G', None, '2'],
 Record #2: ['6672', datetime.date(2011, 8, 31), None, 'VIC2862', datetime.date(2012, 4, 27), None, 'WOORNDOO', '', '', 'G', None, '2'],
 Record #3: ['6673', datetime.date(2011, 8, 31), None, 'VIC734', datetime.date(2017, 8, 9), None, 'DEPTFORD', '', '', 'G', None, '2'],
 Record #4: ['6674', datetime.date(2011, 8, 31), None, 'VIC2900', datetime.date(2012, 4, 27), None, 'YANAC', '', '', 'G', None, '2'],
 Record #5: ['6405', datetime.date(2011, 8, 31), None, 'VIC1688', datetime.date(2012, 4, 27), None, 'MINIMAY', '', '', 'G', None, '2'],
 Record #6: ['6451', datetime.date(2011, 8, 31), None, 'VIC999', datetime.date(2012, 4, 27), None, 'GLEN FORBES', '', '', 'G', None, '2'],
 Record #7: ['6452', datetime.date(2011, 8, 31), None, 'VIC7', datetime.date(2012, 4, 27), None, 'ADAMS ESTATE', '', '', 'G', None, '2'],
 Record #8: ['6465', datetime.date(2011, 8, 31), None, 'VIC751', datetime.date(2012, 4, 27), None, 'DIMBOOLA', '', '', 'G', None, '2'],
 Record #9: ['6466', datetime.date(2011, 8, 31), None, 'VIC467', datetime.date(2012, 4, 27), None, 'CANNUM', '', '', 'G', None, '2'],
 Record #10: ['6467', datetime.date(2011, 8, 31), None, 'VIC2666', datetime.date(2012, 4, 27), None, 'WALLUP', '', '', 'G', None, '2'],
 Record #11: ['6468', datetime.date(2011, 8, 31), None, 'VIC1835', datetime.date(2012, 4, 27), None, 'MURRA WARRA', '', '', 'G', None, '2'],
 Record #12: ['6469', datetime.date(2011, 8, 31), None, 'VIC1280', datetime.date(2012, 4, 27), None, 'KALKEE', '', '', 'G', None, '2'],
 Record #13: ['6470', datetime.date(2011, 8, 31), None, 'VIC2649', datetime.date(2012, 4, 27), None, 'WAIL', '', '', 'G', None, '2'],
 Record #14: ['6471', datetime.date(2011, 8, 31), None, 'VIC2068', datetime.date(2012, 4, 27), None, 'PIMPINIO', '', '', 'G', None, '2'],
 Record #15: ['6472', datetime.date(2011, 8, 31), None, 'VIC771', datetime.date(2012, 4, 27), None, 'DOOEN', '', '', 'G', None, '2'],
 Record #16: ['6473', datetime.date(2011, 8, 31), None, 'VIC2627', datetime.date(2012, 4, 27), None, 'VECTIS', '', '', 'G', None, '2'],
 Record #17: ['6474', datetime.date(2011, 8, 31), None, 'VIC2129', datetime.date(2012, 4, 27), None, 'QUANTONG', '', '', 'G', None, '2'],
 Record #18: ['6675', datetime.date(2011, 8, 31), None, 'VIC508', datetime.date(2012, 4, 27), None, 'CARWARP', '', '', 'G', None, '2'],
 Record #19: ['6676', datetime.date(2011, 8, 31), None, 'VIC2007', datetime.date(2012, 4, 27), None, 'OMEO', '', '', 'G', None, '2'],
 Record #20: ['10418', datetime.date(2016, 12, 16), None, 'VIC2908', datetime.date(2017, 2, 2), None, 'YAPEEN', '', '', 'G', None, '2'],
 Record #21: ['6678', datetime.date(2011, 8, 31), None, 'VIC1526', datetime.date(2012, 4, 27), None, 'LOGAN', '', '', 'G', None, '2'],
 Record #22: ['6679', datetime.date(2011, 8, 31), None, 'VIC2530', datetime.date(2017, 8, 9), None, 'TOM GROGGIN', '', '', 'G', None, '2'],
 Record #23: ['6680', datetime.date(2011, 8, 31), None, 'VIC2435', datetime.date(2012, 4, 27), None, 'TAMBOON', '', '', 'G', None, '2'],
 Record #24: ['6681', datetime.date(2011, 8, 31), None, 'VIC2828', datetime.date(2012, 4, 27), None, 'WONGUNGARRA', '', '', 'G', None, '2'],
 Record #25: ['6682', datetime.date(2011, 8, 31), None, 'VIC2802', datetime.date(2012, 4, 27), None, 'WILSONS PROMONTORY', '', '', 'G', None, '2'],
 Record #26: ['10419', datetime.date(2016, 12, 16), None, 'VIC1108', datetime.date(2017, 2, 2), None, 'GUILDFORD', '', '', 'G', None, '2'],
 Record #27: ['6686', datetime.date(2011, 8, 31), None, 'VIC2791', datetime.date(2012, 4, 27), None, 'WILLAURA', '', '', 'G', None, '2'],
 Record #28: ['6687', datetime.date(2011, 8, 31), None, 'VIC587', datetime.date(2012, 4, 27), None, 'COBBERAS', '', '', 'G', None, '2'],
 Record #29: ['9626', datetime.date(2012, 8, 17), None, 'VIC1559', datetime.date(2012, 10, 29), None, 'MACLEOD', '', '', 'G', None, '2'],
 Record #30: ['9627', datetime.date(2012, 8, 17), None, 'VIC399', datetime.date(2012, 10, 29), None, 'BUNDOORA', '', '', 'G', None, '2'],
 Record #31: ['9628', datetime.date(2012, 8, 17), None, 'VIC1161', datetime.date(2012, 10, 29), None, 'HEIDELBERG WEST', '', '', 'G', None, '2'],
 Record #32: ['10491', datetime.date(2016, 12, 16), None, 'VIC1722', datetime.date(2017, 2, 2), None, 'MONEGEETTA', '', '', 'G', None, '2'],
 Record #33: ['6417', datetime.date(2011, 8, 31), None, 'VIC2056', datetime.date(2012, 4, 27), None, 'PERONNE', '', '', 'G', None, '2'],
 Record #34: ['6419', datetime.date(2011, 8, 31), None, 'VIC2594', datetime.date(2012, 4, 27), None, 'TUTYE', '', '', 'G', None, '2'],
 Record #35: ['6393', datetime.date(2011, 8, 31), None, 'VIC1743', datetime.date(2012, 4, 27), None, 'MOORALLA', '', '', 'G', None, '2'],
 Record #36: ['6394', datetime.date(2011, 8, 31), None, 'VIC804', datetime.date(2012, 4, 27), None, 'DUNKELD', '', '', 'G', None, '2'],
 Record #37: ['6395', datetime.date(2011, 8, 31), None, 'VIC2391', datetime.date(2012, 4, 27), None, 'SUGGAN BUGGAN', '', '', 'G', None, '2'],
 Record #38: ['6396', datetime.date(2011, 8, 31), None, 'VIC166', datetime.date(2012, 4, 27), None, 'BAW BAW', '', '', 'G', None, '2'],
 Record #39: ['6406', datetime.date(2011, 8, 31), None, 'VIC439', datetime.date(2012, 4, 27), None, 'CABBAGE TREE CREEK', '', '', 'G', None, '2'],
 Record #40: ['10391', datetime.date(2016, 9, 9), None, 'VIC2648', datetime.date(2016, 11, 8), None, 'WAHRING', '', '', 'G', None, '2'],
 Record #41: ['10360', datetime.date(2016, 9, 9), None, 'VIC1866', datetime.date(2016, 11, 8), None, 'NAMBROK', '', '', 'G', None, '2'],
 Record #42: ['10361', datetime.date(2016, 9, 9), None, 'VIC1346', datetime.date(2016, 11, 8), None, 'KILMANY', '', '', 'G', None, '2'],
 Record #43: ['6584', datetime.date(2011, 8, 31), None, 'VIC2999', datetime.date(2012, 4, 27), None, 'DEEPDENE', '', '', 'G', None, '2'],
 Record #44: ['6684', datetime.date(2011, 8, 31), None, 'VIC1841', datetime.date(2012, 4, 27), None, 'MURRAYVILLE', '', '', 'G', None, '2'],
 Record #45: ['6685', datetime.date(2011, 8, 31), None, 'VIC838', datetime.date(2012, 4, 27), None, 'EDENHOPE', '', '', 'G', None, '2'],
 Record #46: ['6408', datetime.date(2011, 8, 31), None, 'VIC2701', datetime.date(2012, 4, 27), None, 'WARRACKNABEAL', '', '', 'G', None, '2'],
 Record #47: ['6410', datetime.date(2011, 8, 31), None, 'VIC716', datetime.date(2012, 4, 27), None, 'DARTMOOR', '', '', 'G', None, '2'],
 Record #48: ['6411', datetime.date(2011, 8, 31), None, 'VIC708', datetime.date(2012, 4, 27), None, 'DANDONGADALE', '', '', 'G', None, '2'],
 Record #49: ['6413', datetime.date(2011, 8, 31), None, 'VIC965', datetime.date(2012, 4, 27), None, 'GELANTIPY', '', '', 'G', None, '2'],
 Record #50: ['6414', datetime.date(2011, 8, 31), None, 'VIC1593', datetime.date(2012, 4, 27), None, 'MANSFIELD', '', '', 'G', None, '2'],
 Record #51: ['6415', datetime.date(2011, 8, 31), None, 'VIC1508', datetime.date(2012, 4, 27), None, 'LINGA', '', '', 'G', None, '2'],
 Record #52: ['6416', datetime.date(2011, 8, 31), None, 'VIC270', datetime.date(2012, 4, 27), None, 'BOINKA', '', '', 'G', None, '2'],
 Record #53: ['6446', datetime.date(2011, 8, 31), None, 'VIC2488', datetime.date(2012, 4, 27), None, 'TENBY POINT', '', '', 'G', None, '2'],
 Record #54: ['6447', datetime.date(2011, 8, 31), None, 'VIC643', datetime.date(2012, 4, 27), None, 'CORONET BAY', '', '', 'G', None, '2'],
 Record #55: ['6448', datetime.date(2011, 8, 31), None, 'VIC638', datetime.date(2012, 4, 27), None, 'CORINELLA', '', '', 'G', None, '2'],
 Record #56: ['9757', datetime.date(2013, 5, 27), None, 'VIC683', datetime.date(2013, 8, 5), None, 'CROYDON SOUTH', '', '', 'G', None, '2'],
 Record #57: ['10390', datetime.date(2016, 9, 9), None, 'VIC2992', datetime.date(2016, 11, 8), None, 'BANKSIA PENINSULA', '', '', 'G', None, '2'],
 Record #58: ['6587', datetime.date(2011, 8, 31), None, 'VIC972', datetime.date(2012, 4, 27), None, 'GEORGES CREEK', '', '', 'G', None, '2'],
 Record #59: ['9759', datetime.date(2013, 5, 27), None, 'VIC594', datetime.date(2013, 8, 5), None, 'COBURG NORTH', '', '', 'G', None, '2'],
 Record #60: ['9762', datetime.date(2013, 5, 27), None, 'VIC2037', datetime.date(2013, 8, 5), None, 'PASCOE VALE', '', '', 'G', None, '2'],
 Record #61: ['6688', datetime.date(2011, 8, 31), None, 'VIC1400', datetime.date(2012, 4, 27), None, 'KULWIN', '', '', 'G', None, '2'],
 Record #62: ['6689', datetime.date(2011, 8, 31), None, 'VIC2669', datetime.date(2012, 4, 27), None, 'WALPEUP', '', '', 'G', None, '2'],
 Record #63: ['6715', datetime.date(2011, 8, 31), None, 'VIC2878', datetime.date(2012, 4, 27), None, 'WYCHEPROOF', '', '', 'G', None, '2'],
 Record #64: ['6540', datetime.date(2011, 8, 31), None, 'VIC1597', datetime.date(2012, 4, 27), None, 'MARENGO', '', '', 'G', None, '2'],
 Record #65: ['6541', datetime.date(2011, 8, 31), None, 'VIC472', datetime.date(2012, 4, 27), None, 'CAPE OTWAY', '', '', 'G', None, '2'],
 Record #66: ['10129', datetime.date(2015, 9, 3), None, 'VIC1772', datetime.date(2015, 11, 9), None, 'MOUNT BULLER', '', '', 'G', None, '2'],
 Record #67: ['6543', datetime.date(2011, 8, 31), None, 'VIC544', datetime.date(2012, 4, 27), None, 'CHETWYND', '', '', 'G', None, '2'],
 Record #68: ['6544', datetime.date(2011, 8, 31), None, 'VIC2732', datetime.date(2012, 4, 27), None, 'WATTLE HILL', '', '', 'G', None, '2'],
 Record #69: ['6545', datetime.date(2011, 8, 31), None, 'VIC967', datetime.date(2012, 4, 27), None, 'GELLIBRAND LOWER', '', '', 'G', None, '2'],
 Record #70: ['6546', datetime.date(2011, 8, 31), None, 'VIC2119', datetime.date(2012, 4, 27), None, 'PRINCETOWN', '', '', 'G', None, '2'],
 Record #71: ['6548', datetime.date(2011, 8, 31), None, 'VIC2058', datetime.date(2012, 4, 27), None, 'PETERBOROUGH', '', '', 'G', None, '2'],
 Record #72: ['10131', datetime.date(2015, 9, 3), None, 'VIC2215', datetime.date(2015, 11, 9), None, 'RUNNYMEDE', '', '', 'G', None, '2'],
 Record #73: ['6590', datetime.date(2011, 8, 31), None, 'VIC2248', datetime.date(2012, 4, 27), None, 'SCOTSBURN', '', '', 'G', None, '2'],
 Record #74: ['6591', datetime.date(2011, 8, 31), None, 'VIC2990', datetime.date(2013, 1, 23), None, 'REEDY CREEK', '', '', 'G', None, '2'],
 Record #75: ['6592', datetime.date(2011, 8, 31), None, 'VIC2374', datetime.date(2012, 4, 27), None, 'STRATH CREEK', '', '', 'G', None, '2'],
 Record #76: ['6593', datetime.date(2011, 8, 31), None, 'VIC1273', datetime.date(2012, 4, 27), None, 'JUNGABURRA', '', '', 'G', None, '2'],
 Record #77: ['6594', datetime.date(2011, 8, 31), None, 'VIC2493', datetime.date(2012, 4, 27), None, 'TERRICK TERRICK', '', '', 'G', None, '2'],
 Record #78: ['6596', datetime.date(2011, 8, 31), None, 'VIC139', datetime.date(2012, 4, 27), None, 'BARJARG', '', '', 'G', None, '2'],
 Record #79: ['6598', datetime.date(2011, 8, 31), None, 'VIC1574', datetime.date(2012, 4, 27), None, 'MAINDAMPLE', '', '', 'G', None, '2'],
 Record #80: ['6599', datetime.date(2011, 8, 31), None, 'VIC1334', datetime.date(2012, 4, 27), None, 'KEYSBOROUGH', '', '', 'G', None, '2'],
 Record #81: ['6601', datetime.date(2011, 8, 31), None, 'VIC948', datetime.date(2012, 4, 27), None, 'FUMINA', '', '', 'G', None, '2'],
 Record #82: ['6604', datetime.date(2011, 8, 31), None, 'VIC2402', datetime.date(2012, 4, 27), None, 'SURREY HILLS', '', '', 'G', None, '2'],
 Record #83: ['6717', datetime.date(2011, 8, 31), None, 'VIC1420', datetime.date(2012, 4, 27), None, 'LAHARUM', '', '', 'G', None, '2'],
 Record #84: ['6718', datetime.date(2011, 8, 31), None, 'VIC2720', datetime.date(2012, 4, 27), None, 'WATCHUPGA', '', '', 'G', None, '2'],
 Record #85: ['6719', datetime.date(2011, 8, 31), None, 'VIC1878', datetime.date(2012, 4, 27), None, 'NAREEN', '', '', 'G', None, '2'],
 Record #86: ['6720', datetime.date(2011, 8, 31), None, 'VIC1200', datetime.date(2012, 4, 27), None, 'HOTSPUR', '', '', 'G', None, '2'],
 Record #87: ['6550', datetime.date(2011, 8, 31), None, 'VIC2073', datetime.date(2012, 4, 27), None, 'PIONEER BAY', '', '', 'G', None, '2'],
 Record #88: ['6551', datetime.date(2011, 8, 31), None, 'VIC1453', datetime.date(2012, 4, 27), None, 'LANG LANG', '', '', 'G', None, '2'],
 Record #89: ['6552', datetime.date(2011, 8, 31), None, 'VIC43', datetime.date(2012, 4, 27), None, 'ANDERSON', '', '', 'G', None, '2'],
 Record #90: ['6553', datetime.date(2011, 8, 31), None, 'VIC163', datetime.date(2012, 4, 27), None, 'BASS', '', '', 'G', None, '2'],
 Record #91: ['6554', datetime.date(2011, 8, 31), None, 'VIC130', datetime.date(2012, 4, 27), None, 'BANGHOLME', '', '', 'G', None, '2'],
 Record #92: ['6556', datetime.date(2011, 8, 31), None, 'VIC2444', datetime.date(2012, 4, 27), None, 'TANJIL BREN', '', '', 'G', None, '2'],
 Record #93: ['6558', datetime.date(2011, 8, 31), None, 'VIC816', datetime.date(2012, 4, 27), None, 'DUVERNEY', '', '', 'G', None, '2'],
 Record #94: ['6627', datetime.date(2011, 8, 31), None, 'VIC1467', datetime.date(2012, 4, 27), None, 'LASCELLES', '', '', 'G', None, '2'],
 Record #95: ['6628', datetime.date(2011, 8, 31), None, 'VIC1076', datetime.date(2017, 8, 9), None, 'GRAMPIANS', '', '', 'G', None, '2'],
 Record #96: ['6629', datetime.date(2011, 8, 31), None, 'VIC1614', datetime.date(2012, 4, 27), None, 'MARYSVILLE', '', '', 'G', None, '2'],
 Record #97: ['6630', datetime.date(2011, 8, 31), None, 'VIC204', datetime.date(2012, 4, 27), None, 'BENALLA', '', '', 'G', None, '2'],
 Record #98: ['6631', datetime.date(2011, 8, 31), None, 'VIC1531', datetime.date(2012, 4, 27), None, 'LONGFORD', '', '', 'G', None, '2'],
 Record #99: ['6633', datetime.date(2011, 8, 31), None, 'VIC1170', datetime.date(2012, 4, 27), None, 'HEXHAM', '', '', 'G', None, '2'],
 Record #100: ['6634', datetime.date(2011, 8, 31), None, 'VIC2052', datetime.date(2012, 4, 27), None, 'PENSHURST', '', '', 'G', None, '2'],
 Record #101: ['6635', datetime.date(2011, 8, 31), None, 'VIC1038', datetime.date(2012, 4, 27), None, 'GLENTHOMPSON', '', '', 'G', None, '2'],
 Record #102: ['6783', datetime.date(2011, 8, 31), None, 'VIC418', datetime.date(2012, 4, 27), None, 'BURNLEY', '', '', 'G', None, '2'],
 Record #103: ['6785', datetime.date(2011, 8, 31), None, 'VIC2807', datetime.date(2012, 4, 27), None, 'WINDSOR', '', '', 'G', None, '2'],
 Record #104: ['6786', datetime.date(2011, 8, 31), None, 'VIC879', datetime.date(2012, 4, 27), None, 'ESSENDON WEST', '', '', 'G', None, '2'],
 Record #105: ['6559', datetime.date(2011, 8, 31), None, 'VIC2496', datetime.date(2012, 4, 27), None, 'TETOORA ROAD', '', '', 'G', None, '2'],
 Record #106: ['6560', datetime.date(2011, 8, 31), None, 'VIC2980', datetime.date(2012, 4, 27), None, 'GLENDONALD', '', '', 'G', None, '2'],
 Record #107: ['10173', datetime.date(2015, 9, 3), None, 'VIC117', datetime.date(2015, 11, 9), None, 'BALMATTUM', '', '', 'G', None, '2'],
 Record #108: ['6636', datetime.date(2011, 8, 31), None, 'VIC2854', datetime.date(2012, 4, 27), None, 'WOOMELANG', '', '', 'G', None, '2'],
 Record #109: ['6638', datetime.date(2011, 8, 31), None, 'VIC2016', datetime.date(2012, 4, 27), None, 'OUYEN', '', '', 'G', None, '2'],
 Record #110: ['6639', datetime.date(2011, 8, 31), None, 'VIC2041', datetime.date(2012, 4, 27), None, 'PATCHEWOLLOCK', '', '', 'G', None, '2'],
 Record #111: ['6641', datetime.date(2011, 8, 31), None, 'VIC1290', datetime.date(2012, 4, 27), None, 'KANIVA', '', '', 'G', None, '2'],
 Record #112: ['6642', datetime.date(2011, 8, 31), None, 'VIC1381', datetime.date(2012, 4, 27), None, 'KOOREH', '', '', 'G', None, '2'],
 Record #113: ['6643', datetime.date(2011, 8, 31), None, 'VIC1935', datetime.date(2012, 4, 27), None, 'NHILL', '', '', 'G', None, '2'],
 Record #114: ['6644', datetime.date(2011, 8, 31), None, 'VIC717', datetime.date(2012, 4, 27), None, 'DARTMOUTH', '', '', 'G', None, '2'],
 Record #115: ['6645', datetime.date(2011, 8, 31), None, 'VIC2484', datetime.date(2012, 4, 27), None, 'TELOPEA DOWNS', '', '', 'G', None, '2'],
 Record #116: ['9880', datetime.date(2013, 11, 26), None, 'VIC750', datetime.date(2014, 1, 31), None, 'DIGGORA', '', '', 'G', None, '2'],
 Record #117: ['6667', datetime.date(2011, 8, 31), None, 'VIC1021', datetime.date(2012, 4, 27), None, 'GLENISLA', '', '', 'G', None, '2'],
 Record #118: ['6668', datetime.date(2011, 8, 31), None, 'VIC1497', datetime.date(2012, 4, 27), None, 'LILLIMUR', '', '', 'G', None, '2'],
 Record #119: ['6669', datetime.date(2011, 8, 31), None, 'VIC2873', datetime.date(2012, 4, 27), None, 'WULGULMERANG WEST', '', '', 'G', None, '2'],
 Record #120: ['9739', datetime.date(2013, 5, 27), None, 'VIC2410', datetime.date(2013, 8, 5), None, 'SWAN ISLAND', '', '', 'G', None, '2'],
 Record #121: ['9881', datetime.date(2013, 11, 26), None, 'VIC1410', datetime.date(2014, 1, 31), None, 'KYVALLEY', '', '', 'G', None, '2'],
 Record #122: ['6454', datetime.date(2011, 8, 31), None, 'VIC321', datetime.date(2012, 4, 27), None, 'BRANXHOLME', '', '', 'G', None, '2'],
 Record #123: ['6455', datetime.date(2011, 8, 31), None, 'VIC303', datetime.date(2012, 4, 27), None, 'BORNES HILL', '', '', 'G', None, '2'],
 Record #124: ['6456', datetime.date(2011, 8, 31), None, 'VIC2443', datetime.date(2012, 4, 27), None, 'TANJIL', '', '', 'G', None, '2'],
 Record #125: ['6459', datetime.date(2011, 8, 31), None, 'VIC1003', datetime.date(2012, 4, 27), None, 'GLEN VALLEY', '', '', 'G', None, '2'],
 Record #126: ['6460', datetime.date(2011, 8, 31), None, 'VIC2416', datetime.date(2012, 4, 27), None, 'SWIFTS CREEK', '', '', 'G', None, '2'],
 Record #127: ['6461', datetime.date(2011, 8, 31), None, 'VIC1843', datetime.date(2012, 4, 27), None, 'MURRINDINDI', '', '', 'G', None, '2'],
 Record #128: ['6462', datetime.date(2011, 8, 31), None, 'VIC2188', datetime.date(2012, 4, 27), None, 'ROCKLANDS', '', '', 'G', None, '2'],
 Record #129: ['6397', datetime.date(2011, 8, 31), None, 'VIC2853', datetime.date(2012, 4, 27), None, 'WOOLSTHORPE', '', '', 'G', None, '2'],
 Record #130: ['6398', datetime.date(2011, 8, 31), None, 'VIC2945', datetime.date(2012, 4, 27), None, 'ZUMSTEINS', '', '', 'G', None, '2'],
 Record #131: ['6646', datetime.date(2011, 8, 31), None, 'VIC1118', datetime.date(2012, 4, 27), None, 'HALLORA', '', '', 'G', None, '2'],
 Record #132: ['6647', datetime.date(2011, 8, 31), None, 'VIC1757', datetime.date(2012, 4, 27), None, 'MORNINGTON', '', '', 'G', None, '2'],
 Record #133: ['6649', datetime.date(2011, 8, 31), None, 'VIC2651', datetime.date(2012, 4, 27), None, 'WAITCHIE', '', '', 'G', None, '2'],
 Record #134: ['6563', datetime.date(2011, 8, 31), None, 'VIC907', datetime.date(2012, 4, 27), None, 'FERNSHAW', '', '', 'G', None, '2'],
 Record #135: ['6721', datetime.date(2011, 8, 31), None, 'VIC777', datetime.date(2012, 4, 27), None, 'DOUGLAS', '', '', 'G', None, '2'],
 Record #136: ['6722', datetime.date(2011, 8, 31), None, 'VIC1458', datetime.date(2012, 4, 27), None, 'LANGKOOP', '', '', 'G', None, '2'],
 Record #137: ['10383', datetime.date(2016, 9, 9), None, 'VIC2749', datetime.date(2016, 11, 8), None, 'WENSLEYDALE', '', '', 'G', None, '2'],
 Record #138: ['6652', datetime.date(2011, 8, 31), None, 'VIC2266', datetime.date(2012, 4, 27), None, 'SERVICETON', '', '', 'G', None, '2'],
 Record #139: ['6653', datetime.date(2011, 8, 31), None, 'VIC2216', datetime.date(2012, 4, 27), None, 'RUPANYUP', '', '', 'G', None, '2'],
 Record #140: ['6654', datetime.date(2011, 8, 31), None, 'VIC367', datetime.date(2012, 4, 27), None, 'BUCHAN SOUTH', '', '', 'G', None, '2'],
 Record #141: ['6656', datetime.date(2011, 8, 31), None, 'VIC1915', datetime.date(2012, 4, 27), None, 'NETHERBY', '', '', 'G', None, '2'],
 Record #142: ['9766', datetime.date(2013, 5, 27), None, 'VIC23', datetime.date(2013, 8, 5), None, 'ALLAMBEE', '', '', 'G', None, '2'],

In [50]:
len(recs),len(shapes)

(2973, 2973)

## 2. Data Integration <a class="anchor" id="2"></a>

## 3. Data Reshaping <a class="anchor" id="3"></a>


**Refer to sample solution**

In [ ]:
__